button {
  cursor: pointer;
  border: none;
  padding: 0;
}

.notebook-form {
  max-width: inherit;
}

#notebookMenuBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  background-color: var(--p-content-elevation-main);
  z-index: 999;
  padding: .375rem 1rem;
}

#notebookHeader {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  input#notebookName {
    width: 100%;
    border: none;
    font-size: 1.75rem;
    font-weight: 600;
    background-color: var(--p-content-elevation-main);
    color: var(--p-text-color);
    padding: 0;
    outline: none;
  }

  input#notebookName::placeholder {
    color: rgb(255, 255, 255, 0.6) !important;
  }
}

#newBlockButton {
  display: flex;
  align-items: center;
}

#notebookBlock *, .flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}