@defer(when notebook$ | async) {
    <section class="container flex h-full">
        <!-- Notebook menu bar -->
        <nav id="notebookMenuBar">
            <div class="flex gap-2">
                <!-- Breadcrumb -->
                <div class="max-w-16rem sm:max-w-25rem md:max-w-30rem lg:max-w-max">
                    <notebook-breadcrumb
                        [notebookName]="currentNotebook().name"
                        [collectionName]="currentNotebook().collectionName ?? notFoundPlaceHolder"
                        [collectionId]="currentNotebook().collectionId"
                        [emoji]="currentNotebook().emoji"
                    />
                </div>
                <!-- Auto save indicator -->
                <notebook-autosave-indicator
                    [saveState]="saveState()"
                    (retrySave)="retryNotebookSave()"
                />
            </div>
            <div class="flex gap-3">
                <!-- Block title -->
                <span class="text-secondary hidden md:inline">
                    {{ currentBlock()?.title }}
                </span>
                <!-- Navigators -->
                 <block-navigator
                    [blockIndex]="currentBlockIndex()"
                    [blocks]="currentNotebook().blocks"
                    (positionChanged)="modifyActiveBlock($event)"
                 />
                <!-- New block button -->
                <button
                    id="newBlockButton"
                    type="button"
                    aria-label="Block menu"
                    pTooltip="Block menu"
                    (click)="openBlockMenuDialog(currentNotebook().blocks)"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24"><g fill="none" stroke="var(--p-text-muted-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <path d="M21 7.353v9.294a.6.6 0 0 1-.309.525l-8.4 4.666a.6.6 0 0 1-.582 0l-8.4-4.666A.6.6 0 0 1 3 16.647V7.353a.6.6 0 0 1 .309-.524l8.4-4.667a.6.6 0 0 1 .582 0l8.4 4.667a.6.6 0 0 1 .309.524"/>
                        <path d="m3.528 7.294l8.18 4.544a.6.6 0 0 0 .583 0l8.209-4.56M12 21v-9"/></g>
                    </svg>
                </button>
            </div>
        </nav>
        <!-- Form -->
        <form
            [formGroup]="notebookForm"
            autocomplete="off"
            class="notebook-form flex-container"
        >
            <!-- Header -->
            <div id="notebookHeader" class="flex align-items-center gap-3 mb-3 md:mt-4">
                <app-emoji-picker
                    formControlName="emoji"
                    defaultIconClass="notebook-outlined primary-400"
                />
                <input 
                    id="notebookName"
                    type="text" 
                    formControlName="inputName"
                    [placeholder]="notebookNamePlaceHolder"
                    (input)="onNotebookNameInputChanged($event)"
                >
            </div>
            <!-- Current block -->
            <ng-container formArrayName="blocks">
                <div
                    id="notebookBlock"
                    class="flex-container"
                    [formGroup]="getCurrentBlockFormGroup()"
                >
                    <notebooks-block
                        formControlName="content"
                        (editorSelected)="onEditorSelected($event)"
                        (debouncedChange)="onEditorValueChanged($event)"
                    />
                </div>
            </ng-container>
        </form>
    </section>
    <!-- Floating font menu button -->
    <shared-floating-action-button 
        iconClass="fa fa-font"
        (onClick)="onTextFormattingButtonClick()"
    />
    <!-- Floating menu -->
    <shared-floating-menu
        #floatingMenu
        [options]="floatingMenuOptions()"
    />
} @placeholder {
    <!-- Loading skeleton template -->
    <div class="container mt-6">
        <div class="w-full mb-5">
            <p-skeleton height="3rem"/>
        </div>
        <div class="w-full mb-5">
            <p-skeleton height="200px"/>
        </div>
        <div class="grid">
            <div class="col-12 md:col-6">
                <p-skeleton height="2.5rem"/>
            </div>
            <div class="col-12 md:col-6">
                <p-skeleton height="2.5rem"/>
            </div>
        </div>
    </div>
}