<form
    [formGroup]="form"
    (submit)="onSubmit()"
    autocomplete="off"
>
    <div class="modal-body flex flex-column gap-3">
        <div>
            <label for="linkText" class="block mb-2 text-secondary">Text</label>
            <input
                pInputText
                id="linkText"
                type="text"
                formControlName="text"
                class="w-full"
                autocomplete="off"
            >
            @if (isInvalidField('text')) {
                <shared-error-field
                    [validationField]="getValidationField('text')"
                />
            }
        </div>

        <div>
            <label for="linkUrl" class="block mb-2 text-secondary">URL</label>
            <input
                pInputText
                id="linkUrl"
                type="text"
                formControlName="url"
                class="w-full"
                placeholder="https://example.com"
                autocomplete="off"
            >
            @if (isInvalidField('url')) {
                <shared-error-field
                    [validationField]="getValidationField('url', 'URL')"
                />
            }
        </div>
    </div>

    <div class="modal-footer flex align-items-center justify-content-end">
        <div class="flex gap-2">
            <p-button
                id="cancelLinkBtn"
                type="button"
                size="small"
                severity="secondary"
                label="Cancel"
                aria-label="Cancel"
                (click)="onCancel()"
            />
            <p-button
                id="saveLinkBtn"
                type="submit"
                size="small"
                severity="primary"
                label="Confirm"
                aria-label="Save link"
            />
        </div>
    </div>
</form>
