<div class="files-list">
    @for (file of files; track $index) {
        <div class="file-item" [ngClass]="{'active' : $index === this.fileSelectedIndex}">
            <button
                aria-label="select file"
                type="button"
                class="file-info"
                (click)="onFileSelected($index)"
            >
                <div class="file-numerator">{{ $index + 1 }}</div>
                <div class="file-name">{{ file.fileName }}</div>
                <div class="file-description">{{ file.type }}, {{ file.language }}</div>
            </button>
        </div>
    }
</div>