<div class="files-list">
    @for (file of files; track $index) {
        <div class="file-item" [ngClass]="{'active' : file.id === selectedFileId}">
            <button
                aria-label="select file"
                type="button"
                class="file-info"
                (click)="onFileSelected(file.id)"
            >
                <div class="flex align-items-center">
                    <div class="file-numerator">{{ $index + 1 }}</div>
                    <div>
                        <span class="file-icon fa-regular fa-file-code"></span>
                        <div class="file-name">{{ file.fileName }}</div>
                    </div>
                </div>
                <div class="file-description">{{ file.type }}, {{ file.language }}</div>
            </button>
        </div>
    }
</div>