:host {
  display: block;
}

.wrapper-floating-button {
  position: fixed;
  right:  2rem;
  bottom: 2.5rem;
}

.floating-button, .floating-button button {
  border-radius: 50%;
  opacity: .9;
}

.floating-button {
  padding: .25rem;
  border: 1px solid var(--p-content-border-color);
  background-color: var(--p-surface-950);
}

.floating-button button {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--p-highlight-primary-border);
  background-color: var(--p-highlight-primary-border);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  transition-duration: 150ms;
  transition-duration: 0.3s;
}

.floating-button button:hover {
  cursor: pointer;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.05) scaleY(1.05);
  opacity: 1;
}

.floating-button button span {
  font-size: 1rem;
  color: #ffffff;
}