<div class="modal-body block-list">
    @for (block of blocks(); track $index) {
        <div
            [ngClass]="{'active' : block.id === currentBlockId}" 
            class="block-item"
        >
            <!-- Block information -->
            @if (block.editable) {
                <input
                    id="{{ 'title' + $index }}"
                    maxlength="255"
                    type="text"
                    [(ngModel)]="block.title"
                />
            }
            @else {
                <button
                    type="button"
                    aria-label="Select block"
                    class="block-info"
                    (click)="onSelectBlock(block.id)"
                >
                    <div
                        class="block-title"
                    >
                        {{ block.title }}
                    </div>
                    <div class="block-date">{{ block.createdDate | date:'medium' }}</div>
                </button>
            }
            <!-- Action buttons -->
            <div class="block-buttons">
                <p-button
                    styleClass="w-2rem p-0 border-none text-secondary"
                    [pTooltip]="block.editable ? 'Save' : 'Update'"
                    [icon]="block.editable ? 'fa fa-check' : 'fa fa-pencil'"
                    (onClick)="onUpdateBlockButtonClick($index)"
                />
                <p-button
                    styleClass="w-2rem p-0 border-none text-secondary"
                    icon="fa fa-trash"
                    pTooltip="Delete"
                    [disabled]="block.id === currentBlockId || blocks().length === 1"
                    (onClick)="onDeleteBlockButtonClick(block.id)"
                />
            </div>
        </div>
    }
    <!-- Add block button -->
    <button
        id="addBlockBtn"
        type="button"
        aria-label="Add block"
        (click)="onAddBlockButtonClick()"
    >
        <span class="fa fa-plus mr-2"></span>Add block
    </button>
</div>
<!-- Footer -->
<div class="modal-footer flex align-items-center justify-content-end">
    <div class="flex gap-2">
        <button
            id="cancelBtn"
            type="button"
            aria-label="Cancel"
            (click)="onCancel()"
        >
            Cancel
        </button>
        <button
            id="saveBtn"
            type="button"
            aria-label="Save"
            [disabled]="!canSaveChanges()"
            (click)="onSaveChangesButtonClick()"
        >
            Save
        </button>
    </div>
</div>
