:host {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: .375rem;
  transition: .3s ease;
}

input {
  border: none;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--surface-1);
  color: var(--text-primary);
}

#addBtn {
  transition: 0.3s all ease;
  border: solid 1px var(--surface-border);
  span {
    color: var(--green-500)
  }
}
#addBtn:hover {
  background-color: var(--surface-1);
}
#saveBtn {
  background-color: var(--accent-color);
}
#saveBtn:hover {
  background-color: var(--accent-hover);
}
#cancelBtn {
  color: var(--text-secondary);
}
#cancelBtn:hover {
  background-color: var(--surface-1);
}

.block-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  transition: 0.3s all ease;
  border-bottom: solid 1px var(--surface-border);
}

.block-item:hover {
  cursor: pointer;
  background-color: var(--surface-1);
}

button.block-info {
  width: 100%;
  padding: 0.5rem 0 !important;
  text-align: start;
  color: var(--text-primary);

  .block-date {
    color: var(--text-secondary);
    font-size: 0.85rem;
  }

  .block-title {
    margin-bottom: .25rem;
  }

  .block-title.active {
    display: inline-block;
    padding: .25rem;
    border-radius: 6px;
    background-color: var(--highlight-surface-purple);
    border: 1px solid var(--highlight-border-purple);
  }
}

.block-buttons {
  display: flex;
  gap: 0.5rem;
}