:host {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: .375rem;
  transition: .3s ease;
}

input {
  border: none;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--paper-bg);
  color: var(--text-primary);
}

#addBlockBtn {
  width: 100%;
  text-align: start;
  color: var(--text-secondary);
  padding: 0;
  padding: 0.5rem;
  transition: 0.3s all ease;
  span {
    color: var(--p-green-400)
  }
}
#addBlockBtn:hover {
  color: var(--text-primary);
}

.block-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.block-item.active {
  border: 1px solid var(--border-color);
    background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    var(--surface-border) 5px,
    var(--surface-border) 6px
  );
}

#addBlockBtn:hover, .block-item:hover {
  cursor: pointer;
  border-color: var(--border-color);
}

button.block-info {
  width: 100%;
  padding: 0.5rem 0 !important;
  text-align: start;
  color: var(--text-primary);

  .block-date {
    color: var(--text-secondary);
    font-size: 0.75rem;
  }

  .block-title {
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: .25rem;
  }
}

.block-buttons {
  display: flex;
  gap: 0.5rem;
}