:host {
  display: block;
}

.modal {
  padding: 2.5rem 2rem;
  border-top: 1px solid var(--p-content-border-color);
}

.header, .body {
  margin-bottom: 2rem;
  background-color: transparent;
}

.footer {
  border-top: 1px dashed var(--p-content-border-color);
}

.icon-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.icon-box div.icon {
  position: relative;
  border: 1px solid var(--p-highlight-primary-border);
  padding: 1rem;
  border-radius: .75rem;
  background-color: var(--p-highlight-primary-background);
}
.circle {
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  bottom: -5px;
}
.circle.inner {
  background-color: var(--p-primary-500);
  right: 5px;
}
.circle.outer {
  background-color: var(--p-highlight-primary-border);
  right: -8px;
}
.title {
  color: var(--p-text-color);
  text-align: center;
}
.header-message {
  color: var(--p-text-hover-color);
  text-align: center;
}
.transparent-box {
  padding: 1rem;
  display: flex;
  background-color: var(--p-highlight-primary-background);
  gap: 1rem;
  border: 1px solid var(--p-highlight-primary-border);
  border-radius: .5rem;
  color: var(--p-text-color);
}
.accent-text {
  color: var(--p-primary-500);
}
.footer-message {
  font-size: .85rem;
  color: var(--p-text-hover-color);
  margin: .5rem 0;
}