<div class="min-h-screen flex flex-column">
    
    <!-- Top navigation bar -->
    <header class="z-1 w-full fixed">
        <app-main-bar
            (onShowSideBar)="showSideBar($event)"
        />
    </header>

    <!-- Main container -->
    <section id="main-container">
        <!-- Component Title -->
        <p *ngIf="titleComponent.length > 0" class="text-2xl font-playfair font-semibold">{{ titleComponent() }}</p>
        <!-- Router Outlet -->
        <router-outlet />
    </section>

    <footer>
        <span>
            <a class="text-white-alpha-80 hover:text-purple-200" href="https://www.jomacode.com/" target="_blank">
                © jomacode
            </a>
        </span>
    </footer>

</div>

<!-- Side Bar -->
<p-sidebar
    #sideBar
    id="main-sidebar"
    [modal]="false"
    [(visible)]="this.isSideBarVisible"
    [position]="width < 640 ? 'bottom' : 'left'"
    [styleClass]="width < 640 ? 'h-50 border-round-top-3xl' : ''"
>
    <div class="w-full">
        <p class="text-2xl text-center font-light">
            Hello, <span class="font-normal">{{ userName }}</span>
        </p>
        <p-menu
            [model]="menuItems"
            styleClass="w-full"
        />
    </div>
</p-sidebar>