<div class="min-h-screen flex flex-column md:flex-row">
    <section id="main-bar-container">
        <app-main-bar
            (onShowNavigationSidebar)="showSidebar('Navigation', $event)"
            (onShowSearchSidebar)="showSidebar('Searching')"
        />
    </section>
    <section id="main-container">
        <h1 *ngIf="titleComponent().length > 0" class="text-2xl font-medium mt-0 mb-4">{{ titleComponent() }}</h1>
        <router-outlet />
    </section>
</div>

<!-- Side Bar -->
<ng-container *ngIf="sideBarConfig() as config">
    <p-sidebar
        id="main-sidebar"
        styleClass="h-full"
        showCloseIcon="false"
        [modal]="false"
        [visible]="this.isSidebarVisible()"
        [position]="width <= 576 ? 'bottom' : 'left'"
    >
        <!-- Header -->
        <ng-template pTemplate="header">
            <div class="flex w-full justify-content-between align-items-center">
                <h2 class="m-0 text-xl text-gradient">{{ config.title }}</h2>
                <button
                    class="border-none cursor-pointer p-2"
                    (click)="toggleSidebar()"
                >
                    <span class="fa fa-angle-left text-base text-white-alpha-60"></span>
                </button>
            </div>
        </ng-template>
        <!-- Content -->
        <ng-template pTemplate="content">
            <div class="w-full flex flex-column">
                @switch ( config.contentType ) {
                    @case ('Navigation') {
                        <app-navigation-menu [navigationItems]="config.navigationItems" />
                    }
                    @case ('Searching') {
                        <app-quick-search (onSearchNavigate)="toggleSidebar()"/>
                    }
                }
            </div>
        </ng-template>
    </p-sidebar>
</ng-container>