<div class="min-h-screen flex flex-column md:flex-row">
    <!-- Menu bar -->
    <section id="main-bar-container">
        <app-main-bar
            (onShowNavigationSidebar)="showSidebar('Navigation', $event)"
            (onShowSearchSidebar)="showSidebar('Searching')"
        />
    </section>
    <!-- Main contaiber -->
    <section
        id="main-container"
        [ngClass]="{ 'max-width p-5' : url() != homeUrl }"
    >
        @if (titleComponent().length > 0) {
            <p class="text-2xl font-medium mt-0 mb-4">{{ titleComponent() }}</p>
        }
        <router-outlet />
    </section>
</div>

<!-- Side Bar -->
<ng-container *ngIf="sideBarConfig() as config">
    <p-drawer
        id="main-sidebar"
        showCloseIcon="false"
        styleClass="main-sidebar"
        [modal]="false"
        [visible]="isSidebarVisible()"
        [position]="width <= 576 ? 'bottom' : 'left'"
    >
        <!-- Header -->
        <ng-template #header>
            <div class="flex w-full justify-content-between align-items-center">
                <h2 class="m-0 title">{{ config.title }}</h2>
                <button
                    id="toggleBtn"
                    (click)="toggleSidebar()"
                >
                    <span class="fa fa-angle-left text-base"></span>
                </button>
            </div>
        </ng-template>
        <!-- Content -->
        <ng-template #content>
            <div class="w-full flex flex-column">
                @switch ( config.contentType ) {
                    @case ('Navigation') {
                        <app-navigation-menu [navigationItems]="config.navigationItems" />
                    }
                    @case ('Searching') {
                        <app-quick-search (navigateToTarget)="toggleSidebar()"/>
                    }
                }
            </div>
        </ng-template>
    </p-drawer>
</ng-container>