header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--main-black-color);
}

footer {
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--main-gray-700);
}

.text-gradient {
  color: transparent !important;
  background-clip: text;
  background-image: linear-gradient(to right, #c084fc, #6366f1);
}

#main-container {
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
  flex: 1 1 auto;
  padding: 1rem;
}