#top-bar {
  height: 5rem;
}

#main-container {
  padding-top: 7.50rem;
}

.pattern {
  background-color: #90A1F1;
}

@media only screen and (min-width: 640px) {
  #top-bar {
    max-width: 640px;
  }
}
