# Copy this file to .env and CHANGE the default values (DO NOT use defaults in production!)
DB_NAME=markitdb
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_strong_password_here
DB_PORT=5432DB_PORT=5432