:host {
  display: block;
}

.table-wrapper {
  position: relative;
  display: block;
  padding-right: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.table-scroll {
  overflow-x: auto;
}

.add-col-btn, .add-row-btn {
  position: absolute;
  cursor: pointer;
  border: 1px solid var(--p-content-elevation-main);
  color: var(--p-content-elevation-main);
  outline: none;
  transition: border-color 0.1s ease;
}

.add-col-btn {
  width: 25px;
  right: 0;
  top: 0;
  height: calc(100% - 25px);
  border-left: none;
}
.add-row-btn {
  width: calc(100% - 25px);
  height: 25px;
  left: 0;
  bottom: 0;
  border-top: none;
}

.add-col-btn:hover, .add-row-btn:hover {
  color: var(--p-content-border-color);
  border-color: var(--p-content-border-color);
}
