:root {
    --main-black-color: #121212;
    --main-purple-color: #dcc1ff;
    --main-yellow-color: #f5f378;
    --main-orange-color: #ec704b;
    --main-blue-color: #6CCEF0;
    
    --neutral-background-color: #E8EAED;
    --light-gray-color: #6c6c6c;

    --main-gray-900: #181818; /* Deepest gray (almost black) */
    --main-gray-800: #1f1f1f; /* Very dark gray */
    --main-gray-700: #3b3b3b; /* Dark gray */
    
    --main-purple-hover-color: #ab93e0;
    --main-yellow-hover-color: #dfdd56;
    --main-orange-hover-color: #b9573a;
}

body {
  color: #ffff;
  background-color: var(--main-black-color);
}

h1 {
  font-size: 2.25rem !important;
}
h2 {
  font-size: 1.5rem !important;
}
h3 {
  font-size: 1.25rem !important;
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar {
  width: 8px;
}

/** Inputs **/
input {
  padding: 0.75rem;
  outline: none;
  font-family: 'WorkSans';
  font-size: 16px;
}

input.rounded {
  color: var(--main-gray-700);
  border-radius: 1.5rem;
}

input.square {
  background-color: var(--main-gray-700);
  color: #ffff;
  border-radius: 0px;
  border-color: var(--main-purple-hover-color);
  border-width: 0px 2px 2px 0px !important;
}

input.transparent {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  border: none;
  box-shadow: none !important;
}

input:focus {
  box-shadow: 0 0 0 0.2rem var(--light-gray-color);
  border: none;
}

input:hover {
  border-color: var(--main-gray-700);
}

input.transparent::placeholder {
  color: var(--main-gray-700);
}

/** Backgrounds */
.bg-main-black {
  background-color: var(--main-black-color);
}
.bg-main-gray {
  background-color: var(--main-gray-800);
}
.bg-main-purple {
  background-color: var(--main-purple-color);
}
.bg-main-yellow {
  background-color: var(--main-yellow-color);
}
.bg-main-orange {
  background-color: var(--main-orange-color);
}

/**Typography**/
.text-main-black {
  color: var(--main-black-color);
}
.text-main-gray {
  color: var(--main-gray-700);
}
.text-light-gray {
  color: var(--light-gray-color);
}
.text-main-purple {
  color: var(--main-purple-color);
}
.text-main-yellow {
  color: var(--main-yellow-color);
}
.text-main-orange {
  color: var(--main-orange-color);
}
.text-main-blue {
  color: var(--main-blue-color);
}

/** Button */
button {
  background-color: transparent;
  color: #ffffff;
}

.general-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.25rem;
  padding: 0.5rem;
  color: var(--main-black-color);
}
.general-button:disabled {
  background-color: var(--light-gray-color);
  font-weight: bold;
}
.general-button:focus {
  box-shadow: none;
}

.up-down-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.general-button:hover, .p-button.nav-button:hover  {
  transform: translateY(-0.25rem);
  transition-duration: 300ms;
}

.primary-button {
  background-color: var(--main-yellow-color);
}
.primary-button:hover, .primary-button:focus {
  background-color: var(--main-yellow-hover-color);
}
.secondary-button {
  background-color: var(--main-purple-color);
}
.secondary-button:hover, .secondary-button:focus {
  background-color: var(--main-purple-hover-color);
}
.terceary-button {
  background-color: #ffffff;
}
.terceary-button:hover, .terceary-button:focus {
  background-color: #f2f2f2;
}

.cancel-button {
  background-color: var(--main-black-color);
  color: #ffffff;
}
.cancel-button:hover, .cancel-button:focus {
  background-color: var(--main-gray-700);
}

.p-button.nav-button {
  background-color: transparent;
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
  border-width: 0 0 2px 0;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 0px;
}
.p-button.nav-button:focus {
  background-color: var(--neutral-background-color);
  color: var(--main-black-color);
  box-shadow: none;
}

.floating-button {
  position: fixed;
  z-index: 1;
}

.p-button.floating-button {
  background-color: var(--light-gray-color);
  border: none;
  opacity: 0.9;
}
.p-button.floating-button:focus {
  box-shadow: none;
}
.p-button.floating-button:hover {
  background-color: var(--main-purple-hover-color);
  opacity: 1;
}
.p-button:focus {
  box-shadow: none;
}


/** Radio Button */
.p-radiobutton-icon, .p-radiobutton .p-radiobutton-box {
  background-color: var(--main-gray-700);
  border-color: var(--light-gray-color);
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--main-orange-hover-color) !important;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: var(--main-orange-color);
  background: var(--main-orange-color);
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: var(--main-orange-hover-color);
  background: var(--main-orange-hover-color);
  color: #ffffff;
}

/** Avatar */
.p-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--main-black-color);
  background-color: var(--main-purple-color);
  border: 1px solid var(--main-gray-700);
  border-radius: 100%;
}

.p-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/** Sidebar */
.p-sidebar {
  color: #ffffff;
}
.p-sidebar-header {
  padding: 10px;
}

#main-sidebar {
  .p-sidebar-left {
    width: 18rem;
  }
  .p-sidebar {
    background-color: var(--main-black-color);
    border: 1px solid var(--main-gray-700);
  }
  .p-sidebar-content {
    display: flex;
  }
}

#floating-menu {
  .p-sidebar {
    background: transparent;
    height: 6rem;
    box-shadow: none;
  }
  .p-sidebar-content {
    display: flex;
    justify-content: center;
    background-color: rgba(47, 47, 47, 0.9);
    border: 1px solid var(--main-gray-700);
    padding: 0.5rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
  }
  .p-sidebar-header {
    display: none;
  }
}

/** Menu */
.p-menu {
  background-color: transparent;
  border: none;
}
.p-menuitem-content {
  margin-bottom: 1em;
  background-color: var(--main-gray-900);
  border: 1px solid #3b3b3b;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.p-menuitem-link {
  padding: 0.75rem 0.50rem;
}
.p-menuitem-icon {
    color: var(--main-purple-color);
}
.p-menuitem-text {
  color: #ffffff;
}
.p-menuitem-icon {
    margin-right: 15px;
}
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
  background-color: var(--main-gray-800);
}

/** Dialogs */
.custom-dialog {
  border: 1px solid var(--main-gray-700);
  border-radius: 0.5rem;
  .p-dialog-header, .p-dialog-content {
    background-color: var(--main-gray-900);
  }

  .p-dialog-header {
    color: #ffffff;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .p-dialog-content {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

/** Divider */
.p-divider-content {
  background-color: var(--main-black-color);
  font-weight: 500;
  padding: 0.5em;
  z-index: 0;
}

/** Editor */
.p-editor-toolbar {
  border-radius: 0px !important;
  background-color: var(--main-black-color) !important;
  border-color: transparent !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.p-editor-content {
  margin-top: 1em !important;
  font-size: 1rem !important;
}
.p-editor-content, .ql-editor{
  border-radius: 6px;
  background-color: #fbf4e9 !important;
  min-height: 200px;
  color: var(--main-black-color) !important;
}

/** Skeleton */
.p-skeleton {
  background-color: var(--main-gray-700);
  border-radius: 0px;
}
.p-skeleton:after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

/** Data view */
.p-dataview .p-dataview-content {
  color: #ffffff;
  border: 0 none;
  padding: 0;
}

/** Chips */
.p-chip {
  font-family: 'Inter';
  font-size: 0.8rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--main-gray-700);
  border-radius: 0px;
}

/** Carousel */
.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--main-gray-700);
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: var(--main-purple-color) !important;
  border: none !important;
}

/** ToolTip */
.p-tooltip .p-tooltip-text {
  background: var(--main-purple-color);
  color: var(--main-gray-800);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: var(--main-purple-color);
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: var(--main-purple-color);
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: var(--main-purple-color);
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: var(--main-purple-color);
}

.p-progress-spinner-circle {
  stroke: #ab93e0 !important;
}

/** Utils */
.h-50 {
  height: 50% !important;
}

.lined-background {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    var(--main-gray-700) 5px,
    var(--main-gray-700) 6px
  );
}