@import './lottie-icons.css';

:root {
    --text-color: #121212;
    --neutral-background-color: #E8EAED;
    --light-purple-color: #cecdee;
}

body {
    font-family: "Cera Round Pro";
}

input {
    font-family: sans-serif !important;
    padding: 8px !important;
    color: var(--text-color)!important;
    border: 2px solid #A1A1A1;
}

/** Button */
.p-button.nav-button {
    background-color: var(--neutral-background-color);
    padding: 5px;
    color: var(--text-color);
    border: var(--text-color) solid 1px;
    border-bottom: var(--text-color) solid 2px;
}
.p-button.nav-button:hover {
    background-color: var(--light-purple-color);
}

.p-button.nav-button:focus {
    background-color: var(--light-purple-color);
}

/**RadioButton */
.p-radiobutton {
    width: 22px;
    height: 22px;
}
.p-radiobutton .p-radiobutton-box {
    border: 2px solid #d1d5db;
    background: #ffffff;
    width: 22px;
    height: 22px;
    color: #4b5563;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    outline-color: transparent;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #3B82F6;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #BFDBFE;
    border-color: #3B82F6;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 12px;
    height: 12px;
    transition-duration: 0.2s;
    background-color: #ffffff;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #3B82F6;
    background: #3B82F6;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #1D4ED8;
    background: #1D4ED8;
    color: #ffffff;
}
.p-radiobutton.p-variant-filled .p-radiobutton-box {
    background-color: #f3f4f6;
}
.p-radiobutton.p-variant-filled .p-radiobutton-box:not(.p-disabled):hover {
    background-color: #f3f4f6;
}
.p-radiobutton.p-variant-filled .p-radiobutton-box.p-highlight {
    background: #3B82F6;
}
.p-radiobutton.p-variant-filled .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: #1D4ED8;
}
p-radiobutton.ng-dirty.ng-invalid > .p-radiobutton > .p-radiobutton-box {
    border-color: #e24c4c;
}
.p-input-filled .p-radiobutton .p-radiobutton-box {
    background-color: #f3f4f6;
}
.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
    background-color: #f3f4f6;
}
.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #3B82F6;
}
.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: #1D4ED8;
}
.p-radiobutton-label {
    margin-left: 0.5rem;
}

/** Avatar */
.p-avatar {
    display: flex;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--neutral-background-color);
    border: var(--text-color) solid 1px;
    border-bottom: var(--text-color) solid 2px;
}

/** Menu */
.p-menuitem-content {
    background-color: var(--neutral-background-color);
    padding: 8px 0;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: 300ms;
}
.p-menuitem-icon {
    margin-right: 15px;
}
.p-menuitem-text, .p-menuitem-icon {
    color: var(--text-color);
}
.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    border-radius: 20px;
    background-color: var(--light-purple-color) !important;
    font-weight: bold;
    transition: 300ms;
}

/** Calendar */
.p-calendar {
    width: 100%;
}

/* .p-datepicker td>span {
    width: 20px !important;
    height: 20px !important;
} */

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: #4b5563;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    font-weight: 600;
    padding: 0.5rem;
}

.p-datepicker .p-datepicker-header {
    padding: 0.5rem;
    color: #4b5563;
    background: #ffffff;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e5e7eb;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
