@import './lottie-icons.css';

:root {
    --text-color: #121212;
    --neutral-background-color: #E8EAED;
    --light-purple-color: #cecdee;
}

body {
    font-family: "Cera Round Pro";
}

input {
    padding: 8px !important;
    border: 2px solid var(--text-color);
}

.p-button.nav-button {
    background-color: var(--neutral-background-color);
    padding: 5px;
    color: var(--text-color);
    border: var(--text-color) solid 1px;
    border-bottom: var(--text-color) solid 2px;
}

.p-button.nav-button:hover {
    background-color: var(--light-purple-color);
}

.p-button.nav-button:focus {
    background-color: var(--light-purple-color);
}

.p-avatar {
    display: flex;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--neutral-background-color);
    border: var(--text-color) solid 1px;
    border-bottom: var(--text-color) solid 2px;
}

.p-menuitem-content {
    background-color: var(--neutral-background-color);
    padding: 8px 0;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: 300ms;
}

.p-menuitem-icon {
    margin-right: 15px;
}

.p-menuitem-text, .p-menuitem-icon {
    color: var(--text-color);
}

.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    border-radius: 20px;
    background-color: var(--light-purple-color) !important;
    font-weight: bold;
    transition: 300ms;
}