<nav>
    <!-- Logo -->
    <div class="brand md:mb-3 md:py-3 md:w-full">
        <app-logo [canRedirect]="true" />
    </div>
    <!-- Navigation buttons -->
    <div class="flex-wrapper h-full md:flex-column md:justify-content-between md:w-full">
        <div class="w-full flex-wrapper md:flex-column">
            <!-- Menu button for screens <= sm -->
            <p-button
                class="md:hidden w-full"
                styleClass="nav-button"
                icon="fa fa-bars"
                pTooltip="Menu"
                (onClick)="onShowNavigationSidebar.emit(navigationRutes)"
            />
            <!-- Search -->
            <p-button
                class="w-full"
                styleClass="nav-button"
                icon="fa fa-search"
                pTooltip="Search"
                showDelay="250"
                (onClick)="onShowSearchSidebar.emit()"
            />
            <!-- Navigation Routes for screens >= md -->
            @for (item of navigationRutes; track $index) {                    
                <p-button
                    class="w-full hidden md:block"
                    styleClass="nav-button"
                    showDelay="250"
                    routerLinkActive="p-menu-item-link-active"
                    [pTooltip]="item.label"
                    [icon]="item.icon"
                    [routerLink]="item.route"
                />
            }
        </div>
        <!-- Profile -->
        <div class="profile md:py-3 md:w-full">
            <!-- Popup menu -->
            <app-profile-menu #profileMenu/>
            <!-- User Image -->
            <button
                type="button"
                aria-label="Profile image"
                class="avatar"
                (click)="profileMenu.toggle($event)"
            >
                @if ( userPictureUrl ) {
                    <img
                        [src]="userPictureUrl"
                        class="border-circle"
                        alt="user picture"
                        referrerpolicy="no-referrer"
                    >
                }
            </button>
        </div>
    </div>
</nav>
