.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}
.orange-wrap {
    left: 6px;
    top: 6px;
    background-color: #c55d3e;
}
.purple-wrap {
    left: 12px;
    top: 12px;
    background-color: #cfb6f2;
}

.p-avatar {
    width:  55px;
    height: 55px;
}