<div id="main-bar">
    <!-- Brand Name -->
    <div class="brand-title mr-3">
        <div class="brand">{{ MAIN_BAR_BRAND_TITLE }}</div>
    </div>

    <!-- Navigation buttons -->
    <div class="flex align-items-center gap-3">
        <!-- Search -->
        <p-button
            styleClass="nav-button up-down-transition"
            icon="fa fa-search"
            (onClick)="onShowSearchSidebar.emit()"
        />
        <!-- Menu -->
        <p-button
            styleClass="nav-button up-down-transition"
            icon="fa fa-bars"
            (onClick)="onShowNavigationSidebar.emit(this.navigationRutes)"
        />
        <!-- User Picture -->
        <div class="p-avatar" (click)="onAvatarClick()">
            @if ( userPictureUrl ) {
                <img
                    [src]="userPictureUrl"
                    class="border-circle"
                    alt="user picture"
                    referrerpolicy="no-referrer"
                >
            }
        </div>
    </div>
</div>
