#main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0.75rem 2rem;
}

.brand-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.brand {
    font-family: 'PlayfairDisplay';
    font-weight: 500;
}