:host {
    display: block;
    height: 100%;
}

svg {
    transform: rotate(-60deg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand, .profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-title {
    font-family: 'PlayfairDisplay';
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}