<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- modal-body section -->
  <div class="modal-body">
    <div class="fields-container">
      <!-- Name Field -->
      <div class="form-field">
        <label for="firstName">Name</label>
        <input
          id="name"
          pInputText
          formControlName="name"
          maxlength="256"
          autocomplete="off"
          [class.invalid]="isInvalidField('name')"
        />
        @if (isInvalidField('name')) {
          <shared-error-field [validationField]="getValidationField('name', 'masc', 'name')" />
        }
      </div>

      <!-- User Name Field -->
      <div class="form-field">
        <label for="userName">Email</label>
        <input
          id="userName"
          pInputText
          formControlName="userName"
          maxlength="256"
          type="email"
          autocomplete="off"
          placeholder="example@email.com"
          [class.invalid]="isInvalidField('userName')"
        />
        @if (isInvalidField('userName')) {
          <shared-error-field [validationField]="getValidationField('userName', 'masc', 'user name')" />
        }
      </div>

      @if (!isUpdateMode) {
        <!-- Password -->
        <div class="form-field">
          <label for="password">Password</label>
          <p-password
            inputId="password"
            formControlName="password"
            autocomplete="off"
            class="w-full"
            inputStyleClass="w-full"
            [toggleMask]="true"
            [class.invalid]="isInvalidField('password')"
          >
            <ng-template #footer>
              <ul class="font-light">
                <li>At least one <b>uppercase</b></li>
                <li>At least one <b>lowercase</b></li>
                <li>At least one <b>numeric</b></li>
                <li>Minimum <b>8 characters</b></li>
              </ul>
            </ng-template>
          </p-password>
          @if (isInvalidField('password')) {
            <shared-error-field [validationField]="getValidationField('password', 'masc', 'password')" />
          }
        </div>
  
        <!-- Confirm Password -->
        <div class="form-field">
          <label for="confirmPassword">Confirm Password</label>
          <p-password
            inputId="confirmPassword"
            formControlName="confirmPassword"
            autocomplete="off"
            styleClass="w-full"
            inputStyleClass="w-full"
            [toggleMask]="true"
            [feedback]="false"
            [class.invalid]="isInvalidField('confirmPassword')"
          ></p-password>
          @if (isInvalidField('confirmPassword')) {
            <shared-error-field [validationField]="getValidationField('confirmPassword', 'masc', 'password confirmation')" />
          }
        </div>
      }

      <!-- Roles MultiSelect -->
      <div class="form-field">
        <label for="roles">Roles</label>
        <p-multiSelect
          id="roles"
          formControlName="roles"
          optionLabel="label"
          optionValue="value"
          placeholder="Select roles"
          appendTo="body"
          class="w-full"
          size="small"
          [options]="roleOptions"
          [class.invalid]="isInvalidField('roles')"
        />
        @if (isInvalidField('roles')) {
          <shared-error-field [validationField]="getValidationField('roles', 'masc', 'roles')" />
        }
      </div>
      
      <div class="form-field">
        <label for="enabled">Enabled</label>
        <p-toggle-switch
          name="activation"
          formControlName="enabled"
        />
      </div>
    </div>

  </div>

  <!-- modal-footer section -->
  <div class="modal-footer">
    <p-button
      type="button"
      size="small"
      aria-label="Cancel"
      label="Cancel"
      severity="secondary"
      (onClick)="onCancel()"
      [disabled]="submit()"
    />
    <p-button
      type="submit"
      size="small"
      aria-label="Save"
      label="Save"
      severity="primary"
      [disabled]="submit()"
    />
  </div>
</form>