<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- modal-body section -->
  <div class="modal-body">
    <!-- First Name Field -->
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        pInputText
        formControlName="firstName"
        maxlength="100"
        autocomplete="off"
        [class.invalid]="isInvalidField('firstName')"
      />
      @if (isInvalidField('firstName')) {
        <shared-error-field [validationField]="getValidationField('firstName', 'masc', 'first name')" />
      }
    </div>

    <!-- Last Name Field -->
    <div class="form-field">
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        pInputText
        formControlName="lastName"
        maxlength="100"
        autocomplete="off"
        [class.invalid]="isInvalidField('lastName')"
      />
      @if (isInvalidField('lastName')) {
        <shared-error-field [validationField]="getValidationField('lastName', 'masc', 'last name')" />
      }
    </div>
    
    <div class="fields-container">
      <!-- Roles MultiSelect -->
      <div class="form-field">
        <label for="roles">Roles</label>
        <p-multiSelect
          id="roles"
          formControlName="roles"
          optionLabel="label"
          optionValue="value"
          placeholder="Select roles"
          appendTo="body"
          styleClass="w-full"
          [options]="roleOptions"
          [class.invalid]="isInvalidField('roles')"
        />
        @if (isInvalidField('roles')) {
          <shared-error-field [validationField]="getValidationField('roles', 'masc', 'roles')" />
        }
      </div>

      <!-- User Name (Email) Field -->
      <div class="form-field">
        <label for="userName">User Name (Email)</label>
        <input
          id="userName"
          pInputText
          formControlName="userName"
          maxlength="256"
          type="email"
          autocomplete="off"
          placeholder="example@email.com"
          [class.invalid]="isInvalidField('userName')"
        />
        @if (isInvalidField('userName')) {
          <shared-error-field [validationField]="getValidationField('userName', 'masc', 'user name')" />
        }
      </div>

      @if (!isUpdateMode) {
        <!-- Password -->
        <div class="form-field">
          <label for="password">Password</label>
          <p-password
            inputId="password"
            formControlName="password"
            autocomplete="off"
            styleClass="w-full"
            inputStyleClass="w-full"
            [toggleMask]="true"
            [class.invalid]="isInvalidField('password')"
          >
            <ng-template #footer>
              <ul class="font-light">
                <li>At least one <b>uppercase</b></li>
                <li>At least one <b>lowercase</b></li>
                <li>At least one <b>numeric</b></li>
                <li>Minimum <b>8 characters</b></li>
              </ul>
            </ng-template>
          </p-password>
          @if (isInvalidField('password')) {
            <shared-error-field [validationField]="getValidationField('password', 'masc', 'password')" />
          }
        </div>
  
        <!-- Confirm Password -->
        <div class="form-field">
          <label for="confirmPassword">Confirm Password</label>
          <p-password
            inputId="confirmPassword"
            formControlName="confirmPassword"
            autocomplete="off"
            styleClass="w-full"
            inputStyleClass="w-full"
            [toggleMask]="true"
            [feedback]="false"
            [class.invalid]="isInvalidField('confirmPassword')"
          ></p-password>
          @if (isInvalidField('confirmPassword')) {
            <shared-error-field [validationField]="getValidationField('confirmPassword', 'masc', 'password confirmation')" />
          }
        </div>
      }
      
      <div class="form-field">
        <label for="enabled">Enabled</label>
        <p-toggle-switch
          name="activation"
          formControlName="enabled"
        />
      </div>
    </div>

  </div>

  <!-- modal-footer section -->
  <div class="modal-footer">
    <button
      type="button"
      class="cancel-btn"
      (click)="onCancel()"
      [disabled]="submit()"
      aria-label="Cancel">
      Cancel
    </button>
    <button
      type="submit"
      class="save-btn"
      [disabled]="submit()"
      aria-label="Save">
      Save
    </button>
  </div>
</form>