button {
  border: none;
  cursor: pointer;
}

.item {
  display: flex;
  background-color: #181818;
  border: 1px solid var(--main-gray-color);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: #1f1f1f;
}

.grid > div {
  display: flex;
  align-items: center;
}

.actions-container {
  display: flex;
  justify-content:space-around;
}

.bg-lined {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    var(--main-gray-color) 5px,
    var(--main-gray-color) 6px
  );
}

.item-icon {
  width: 2.5rem;
}
