button {
  border: none;
  cursor: pointer;
}

.item {
  display: flex;
  background-color: var(--main-gray-900);
  border: 1px solid var(--main-gray-700);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: var(--main-gray-800);
}

.grid > div {
  display: flex;
  align-items: center;
}

.actions-container {
  display: flex;
  justify-content:space-around;
}

.item-icon {
  width: 2.5rem;
}
