:host {
    display: block;
}
button {
    border: none;
    padding: 0;
    cursor: pointer;
}
button span {
    transition: 0.3s ease;
}
button span:hover {
    color: rgb(255, 255, 255, 0.8);
}

button.sm > span {
    font-size: 1.25rem;
}
button.md > span {
    font-size: 1.75rem;
}
button.lg > span {
    font-size: 2rem;
}

.picker-header {
    border-bottom: 1px solid var(--surface-border);
    display: flex;
    justify-content: end;
    padding: 0 .5rem .5rem .5rem;
}

#defaultIcon.fa-smile {
    color: rgb(255, 255, 255, 0.8)
}