<!-- Search input -->
<div class="header">
    <div class="search-box">
        <span class="fa fa-search text-base"></span>
        <input
            pInputText
            id="searchBox"
            type="text"
            [placeholder]="searchInputPlaceholder"
            [(ngModel)]="query"
            (ngModelChange)="onSearchBoxChanged($event)"
        />
    </div>
</div>

<!-- Notebook results -->
<div class="results">
    @if (searchState() === searchStateEnum.finished && searchResults().length > 0) {
        <div class="results-list fadein animation-duration-200">
            <div class="item-result-counter">
                Results ({{ searchResults().length }})
            </div>
            @for (notebook of searchResults(); track notebook.id) {
                <button
                    [id]="'itemResult-' + notebook.id"
                    class="item-result"
                    [attr.aria-label]="'Navigate to ' + notebook.name"
                    (click)="navigateToNotebookViewer(notebook.id)"
                >
                    <div class="name">{{ notebook.name }}</div>
                    <div class="item-matches">
                        @for (block of notebook.blocks; track block.id) {
                            <div class="match">
                                <div class="snippet" [innerHTML]="block.snippet"></div>
                            </div>
                        }
                    </div>
                </button>
            }
        </div>
    } @else {
        <div class="no-results">
            @switch (searchState()) {
                @case (searchStateEnum.idle) {
                    <div class="fadein animation-duration-500">
                        <p class="m-0 mt-4">Type to start searching</p>
                    </div>
                }
                @case (searchStateEnum.finished) {
                    <div class="flex flex-column fadein animation-duration-500">
                        <shared-empty-state-icon [size]="70"/>
                        <p class="m-0 mt-4 font-medium text-secondary">No results found</p>
                        <p class="m-0 mt-2">Try a different search term</p>
                    </div>
                }
                @case (searchStateEnum.error) {
                    <div class="fadein animation-duration-500">
                        <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
                        <p class="m-0 mt-4 font-medium text-secondary">Something went wrong.</p>
                        <p class="m-0 mt-2">Feel free to contact us if refreshing doesn't fix things.</p>
                    </div>
                }
            }
        </div>
    }
</div>