:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 1.5rem 1rem;
}

.search-box {
  display: flex;
  border: 1px solid var(--p-content-border-color);
  border-radius: .375rem;
  padding: .5rem 0;
  background-color: var(--p-content-elevation-main);
}
.search-box:focus-within {
  outline: 2px solid transparent; 
  outline-offset: 2px;
  border-color: var(--p-primary-500);
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(1px + 0px) var(--p-primary-500), 0 0 #0000;
}
span.fa-search{
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.search-box .fa-search {
  color: var(--p-text-hover-color);
}
.search-box > input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--p-text-color);
  width: 100%;
  padding: 0;
}

.results {
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 0 1rem;
}
.item-result {
  cursor: pointer;
  text-align: start;
  width: 100%;
  padding: .5rem;
  margin-bottom: .5rem;
  border: 1px solid var(--p-content-border-color);
  border-radius: .375rem;
}
.item-result:hover {
  background-color: var(--p-content-elevation-section);
}
.item-result-counter {
  padding-bottom: .5rem;
  font-weight: 300;
  color: var(--p-text-muted-color);
  font-size: .875rem;
}
.item-result .name {
  font-weight: 500;
  font-size: .875rem;
}
.item-matches {
  .match {
    font-size: .875rem;
    padding: .5rem 0;
  }
  .snippet {
    color: var(--p-text-muted-color);
  }
}
:host ::ng-deep .snippet mark {
  color: var(--p-text-muted-color);
  background-color: var(--p-highlight-primary-border);
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.no-results p {
  text-align: center;
  color: var(--p-text-hover-color);
  font-weight: 300;
}
.no-results i {
  text-align: center;
  font-size: 2rem;
}
.no-results i.gray {
  color: var(--p-text-hover-color);
}
.no-results i.purple-highlight {
  color: var(--p-secondary-400);
}

.error-btn {
  cursor: pointer;
  border: none;
  color: var(--p-text-hover-color);
  transition: 0.3s ease;
}
.error-btn:hover {
  color: var(--p-secondary-400);
}