:host {
  display: block;
}

#addAccountBtn {
  padding: .5rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
  span.fa {
    color: var(--p-green-400);
  }
}
#addAccountBtn:hover {
  background-color: var(--p-surface-900);
}