:host {
  display: block;
}

button {
  padding: .5rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--surface-1);
}