<!-- Filters -->
<div class="filter-container flex justify-content-around md:inline-flex">
    @for (filter of collectionItemTypeFilters; track $index) {
        <button 
            type="button"
            class="filter"
            [disabled]="loading()"
            [ngClass]="{ 'active' : currentFilter() === filter }"
            (click)="onFilterSelected.emit(filter)"
        >
            {{ filter }}
        </button>
    }
</div>
<!-- Data view -->
<p-dataView
    [value]="currentItems()()"
    [loading]="this.loading()"
    emptyMessage=" "
>
    <ng-template pTemplate="list" let-items>
        <!-- List template -->
        @for ( item of items; track $index) {
            <div appIntersection (viewChange)="onItemViewChange.emit($index)" class="item mb-2 fadein animation-duration-200">
                <!-- Collection Item Information -->
                <div (click)="onItemSelected(item)" class="grid grid-nogutter w-full cursor-pointer">
                    <!-- Name and Description -->
                    <div class="col-12 mb-3 md:col-6 md:m-0">
                        <span class="fa-lg mr-3">
                            <i [class]="(item.type | collectionItemIcon)"></i>
                        </span>
                        <div class="flex flex-column">
                            <span class="w-full font-medium mb-1">
                                {{ item.name }}
                            </span>
                            <span class="w-full font-light text-white-alpha-60">
                                {{ item.preview }}
                            </span>
                        </div>
                    </div>
                    <!-- Date -->
                    <div class="col-12 md:col-6 font-light text-white-alpha-60">
                        {{ item.updatedAt ?? item.createdAt | date: 'medium' }}
                    </div>
                </div>
                <!-- General actions -->
                <div class="actions-container flex-column md:flex-row">
                    <!-- Favorite -->
                    <button (click)="onFavoriteClicked(item, $index)" [disabled]="item.updating" type="button">
                        <span *ngIf="!item.isFavorite; else fullStar" class="fa-regular fa-star text-lg text-white-alpha-60"></span>
                    </button>
                    <!-- Other Actions -->
                    <button (click)="onItemActionsClicked(item)" type="button">
                        <span class="fa fa-ellipsis text-lg text-white-alpha-60"></span>
                    </button>
                </div>
            </div>
        }
        <!-- No results template -->
        <div id="noResultsTemplate" *ngIf="items.length === 0 && !this.loading()" class="flex flex-column align-items-center justify-content-center py-7 px-3 fadein animation-duration-1000">
            <div class="relative">
                <div class="absolute search-background-icon"></div>
                <div class="relative search-icon">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <p class="mt-5 mb-0 text-xl font-semibold text-white-alpha-90">Nothing to see here</p>
            <p class="mt-3 mb-0 text-white-alpha-60 max-w-24rem text-center">This place is empty. Create a new item or try a different location.</p>
        </div>
    </ng-template>
</p-dataView>

<!-- Floating menu -->
<shared-floating-menu
    #addItemMenu
    [options]="ADD_ITEM_ACTIONS"
    [visible]="isMenuVisible()"
/>

<ng-template #fullStar>
    <span class="fa fa-star favorite text-lg"></span>
</ng-template>