button {
  border: none;
  cursor: pointer;
}

.filter-container {
  padding: 4px;
  background-color: var(--surface-1);
  margin-bottom: 1rem;
  border-radius: 16px;
}

.filter-container .filter {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  color: var(--text-secondary);
  border-radius: 12px;
}

.filter-container .filter.active {
  color: var(--text-primary);
  background-color: var(--surface-3);
  font-weight: 500;
}

.item {
  display: flex;
  transition: background-color 0.3s ease;
  margin-top: .75rem;
  border-bottom: 1px solid var(--border-color);

  button {
    padding: .75rem 0 .75rem 1rem;
  }
  div.actions-container {
    padding: .75rem 1rem .75rem 0;
  }
}

.item:hover {
  background-color: var(--surface-1);
  cursor: pointer;
}

.item-icon {
  padding: .5rem .75rem;
  border-radius: .5rem;
  margin-right: .75rem;
  font-size: 1rem;
  background-color: var(--highlight-surface-blue);
}

.grid > div {
  display: flex;
  align-items: center;
}

.actions-container {
  display: flex;
  gap: 1rem;
  justify-content:space-around;
}

.actions-container button span {
  transition: color 0.3s ease;
}

.actions-container button:hover span {
  color: var(--text-primary) !important;
}

.search-background-icon {
  inset: -.25rem;
  border-radius: 9999px;
  background-color: #a855f733;
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
  filter: blur(12px);
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.search-icon {
  border-radius: 9999px;
  padding: 1rem;
  background-color: var(--paper-bg)
}
.search-icon .fa {
  font-size: 48px;
  color: rgb(192 132 252 / 1);
}
