:host {
  display: block;
}

label {
  font-weight: 600;
  font-size: .85rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  min-width: 56px;
  height: 56px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: .875rem;
}

.user-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  padding: .875rem;
  border: 1px solid var(--p-content-border-color);
  border-radius: 6px;
}

.edit-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  span {
    transition: 0.3s color ease-in;
  }
}
.edit-button:hover {
  span {
    color: var(--p-text-hover-color);
  }
}