:host {
  display: block;
}

#edit-icon {
  cursor: pointer;
  border-radius: 25px;
  padding: 12px;
  font-size: 0.9em;
}

#edit-icon:hover {
  background-color: var(--surface-1);
}

.p-avatar {
  width: 200px;
  height: 200px;
}