:host {
  display: block;
}

label {
  font-weight: 600;
  font-size: .85rem;
}

.avatar {
  width: 200px;
  height: 200px;
}

.welcome-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--p-overlay-modal-border-color);
}