@if (signInMethods$ | async; as signInMethods) {
    <div class="rounded-card">
        <!-- Email -->
        <article class="card-item">
            <header class="item-description">
                <i class="fa-regular fa-at"></i>
                <div>
                    <div class="font-semibold">Email</div>
                    <div class="font-light text-sm text-secondary">{{ username() }}</div>
                </div>
            </header>
        </article>
        <!-- Password -->
        <article class="card-item">
            <header class="item-description">
                <i class="fa-solid fa-key"></i>
                <div>
                    <div class="font-semibold">Password</div>
                    <div class="font-light text-sm text-secondary">
                        {{ signInMethods.hasPassword ? 'Configurated' : 'Not configurated' }}
                    </div>
                </div>
            </header>
            <footer class="action">
                <p-button
                    type="button"
                    size="small"
                    severity="info"
                    [label]="'Change'"
                    [disabled]="!signInMethods.hasPassword"
                    (onClick)="onChangePasswordBtnClick()"
                />
            </footer>
        </article>
        <!-- External Methods -->
        @for (externalMethod of signInMethods.externalSignMethods; track $index) {
            <article class="card-item">
                <header class="item-description">
                    <i [class]="externalMethod.loginProvider | loginProviderIcon"></i>
                    <div>
                        <div class="font-semibold">{{ externalMethod.providerName }}</div>
                        <div class="font-light text-sm text-secondary">
                            {{ externalMethod.configured ? externalMethod.identifier : 'Not configured' }}
                        </div>
                    </div>
                </header>
                <footer class="action">
                    @if (externalMethod.configured) {  
                        <p-button
                            type="button"
                            size="small"
                            label="Remove"
                            severity="danger"
                            [disabled]="isSubmit()"
                            (click)="onRemoveLogin(externalMethod)"
                        />
                    }@else {                        
                        <p-button
                            type="button"
                            size="small"
                            label="Configure"
                            severity="info"
                            [disabled]="isSubmit() || !isLoginProviderAvailable(externalMethod.loginProvider)"
                            (click)="onConfigureLogin(externalMethod)"
                        />
                    }
                </footer>
            </article>
        }
    </div>
}