@if (signInMethods$ | async; as signInMethods) {
    <div class="rounded-card">
        <!-- Email -->
        <section class="card-item">
            <div class="item-description">
                <i class="fa-regular fa-at"></i>
                <div>
                    <div class="font-semibold">Email</div>
                    <div class="font-light text-sm text-secondary">{{ currentEmail }}</div>
                </div>
            </div>
            <div class="action">
                <shared-general-button
                    label="Change"
                    severity="secondary"
                    [disabled]="true"
                    />
            </div>
        </section>
        <!-- Password -->
        <section class="card-item">
            <div class="item-description">
                <i class="fa-solid fa-key"></i>
                <div>
                    <div class="font-semibold">Password</div>
                    <div class="font-light text-sm text-secondary">
                        {{ signInMethods.hasPassword ? 'Configurated' : 'Not configurated' }}
                    </div>
                </div>
            </div>
            <div class="action">
                <shared-general-button
                    [label]="signInMethods.hasPassword ? 'Change':'Configure'"
                    [disabled]="true"
                    severity="secondary"
                />
            </div>
        </section>
        <!-- Google -->
        <section class="card-item">
            <div class="item-description">
                <i class="fa-brands fa-google"></i>
                <div>
                    <div class="font-semibold">Google</div>
                    <div class="font-light text-sm text-secondary">
                        {{ googleMethod ? googleMethod.identifier : 'Not configurated' }}
                    </div>
                </div>
            </div>
            <div class="action">
                <shared-general-button
                    [label]="googleMethod ? 'Change':'Configure'"
                    [disabled]="true"
                    severity="secondary"
                />
            </div>
        </section>
    </div>
}