@if (signInMethods$ | async; as signInMethods) {
    <div class="rounded-card">
        <!-- Email -->
        <article class="card-item">
            <header class="item-description">
                <i class="fa-regular fa-at"></i>
                <div>
                    <div class="font-semibold">Email</div>
                    <div class="font-light text-sm text-secondary">{{ currentEmail }}</div>
                </div>
            </header>
            <footer class="action">
                <shared-general-button
                    label="Change"
                    severity="secondary"
                    [disabled]="true"
                    />
            </footer>
        </article>
        <!-- Password -->
        <article class="card-item">
            <header class="item-description">
                <i class="fa-solid fa-key"></i>
                <div>
                    <div class="font-semibold">Password</div>
                    <div class="font-light text-sm text-secondary">
                        {{ signInMethods.hasPassword ? 'Configurated' : 'Not configurated' }}
                    </div>
                </div>
            </header>
            <footer class="action">
                <shared-general-button
                    [label]="signInMethods.hasPassword ? 'Change':'Configure'"
                    [disabled]="true"
                    severity="secondary"
                />
            </footer>
        </article>
        <!-- External Methods -->
        @for (externalMethod of signInMethods.externalSignMethods; track $index) {
            <article class="card-item">
                <header class="item-description">
                    <i [class]="externalMethod.loginProvider | loginProviderIcon"></i>
                    <div>
                        <div class="font-semibold">{{ externalMethod.providerName }}</div>
                        <div class="font-light text-sm text-secondary">
                            {{ externalMethod.configured ? externalMethod.identifier : 'Not configured' }}
                        </div>
                    </div>
                </header>
                <footer class="action">
                    @if (externalMethod.configured) {                        
                        <shared-general-button
                            label="Remove"
                            severity="danger"
                            [disabled]="submibt()"
                            (click)="onRemoveLogin(externalMethod)"
                        />
                    }@else {                        
                        <shared-general-button
                            label="Configure"
                            severity="secondary"
                            [disabled]="submibt()"
                            (click)="onConfigureLogin(externalMethod)"
                        />
                    }
                </footer>
            </article>
        }
    </div>
}