<div class="flex align-items-center flex-wrap">
    
    <!-- Path segments -->
    @for (segment of pathSegments(); track $index) {
        <button
            type="button"
            class="path-segment"
            [ngClass]="{ 'ml-0' : $index === 0 }"
            (click)="navigate(segment.collectionId)"
        >
            <span *ngIf="$index === 0" class="fa fa-home"></span>
            <span [ngClass]="{ 'active' : segment.collectionId === currentIdCollection() }">
                {{ segment.name }}
            </span>
        </button>
        <span *ngIf="$index != pathSegments().length - 1" class="fa fa-chevron-right separator"></span>
    }

</div>