:host {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

div,
button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.status {
  color: var(--text-secondary);
}

.saved {
  color: var(--p-green-500);
}
.error {
  color: var(--p-yellow-500);
}

.spinner {
  animation: spin 0.8s linear infinite;
  color: var(--accent-color);
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
