<p-panel
    styleClass="mb-2 fadein animation-duration-500"
    [ngClass]="{ 'selected' : this.selected}"
    [toggleable]="true"
    [collapsed]="!gist() && managerState() === managerStates.active"
    (collapsedChange)="onPanelToggle($event)"
    tiptapDraggable
>
    <!-- Header -->
    <ng-template pTemplate="header">
        <h2 class="text-sm font-normal border-none m-0">
            <span [class]="'header-icon mr-2 ' + (managerState() | GistManagerIcon)"></span>
            {{ this.header() }}
        </h2>
    </ng-template>
    <!-- Icon buttons -->
    <ng-template pTemplate="icons">
        <button
            id="reloadBtn"
            class="p-panel-header-icon"
            type="button"
            aria-label="Reload"
            pTooltip="Reload"
            tooltipPosition="top"
            [disabled]="!gist() && managerState() === managerStates.active"
            (click)="onReloadButtonClick()"
        >
            <span class="fa fa-arrows-rotate"></span>    
        </button>
    </ng-template>
    <!-- Body -->
    @defer (when gist() != undefined) {
        <gist-viewer [gist]="gist()!" (onFileChanged)="onFileChanged($event)"/>
    }
    @placeholder {
        @switch (managerState()) {
            @case (managerStates.idle) {
                <gist-loader (onGistSelected)="onGistSelected($event)"/>
            }
            @case (managerStates.error) {
                <div class="error-container text-sm">
                    <span class="text-secondary">
                        {{ (errorMessage()) ?? "We're experiencing some unexpected difficulties. Please try again later." }}
                    </span>
                </div>
            }
        }
    }
</p-panel>