<article>
    <header>
        <h2 class="text-sm font-normal mb-2">
            <span class="fa-solid fa-code mr-2"></span>
            {{ file()?.fileName }}
        </h2>
        <div class="flex flex-wrap gap-3 text-sm text-secondary font-light">
            <div class="flex align-items-center gap-2">
                <span class="fa-regular fa-user"></span>
                {{ gist().author }}
            </div>
            <div class="flex align-items-center gap-2">
                <span class="fa-regular fa-calendar"></span>
                {{ gist().createdAt | date: 'shortDate'}}
            </div>
            <button
                id="fileBtn"
                aria-label="Files"
                type="button"
                (click)="openGistPickerDialog()"
            >
                <div class="flex align-items-center gap-2">
                    <span class="fa-regular fa-file-lines"></span>
                    {{ gist().files.length }} file(s)
                </div>
            </button>
        </div>
    </header>
    <body>
        <code-editor
            #gistEditor
            indentWithTab="true"
            [ngModel]="file()?.content"
            [languages]="languages"
            [theme]="codeEditorOptions().theme"
            [setup]="codeEditorOptions().setup"
            [disabled]="codeEditorOptions().disabled"
            [readonly]="codeEditorOptions().readonly"
            [placeholder]="codeEditorOptions().placeHolder"
            [language]="codeEditorOptions().language"
            [extensions]="cmExtensions"
        />        
    </body>
</article>