:host {
  display: block;
}

button#fileBtn {
  border: none;
  cursor: pointer;
  color: var(--text-secondary);
  transition: all 0.3s ease;
}
button#fileBtn:hover {
  color: var(--accent-color);
}

header {
  padding: 0 1.25rem 1rem 1.25rem;
  border-bottom: 1px solid var(--surface-border);
}

body {
  padding: 1rem;
  border: none;
  border-radius: 0 0 .5rem .5rem;
}
