/** Edition menu */
button {
  border: 0;
  cursor: pointer;
}
button#closeBtn {
  position: absolute;
  background-color: var(--surface-accent);
  bottom: -1.5rem;
  padding: .5rem .5rem 1.5rem .5rem;
  border-radius: 50%;
  width: 50px;
}
button.item {
  padding: 0;
  font-size: 1.5em;
}
button.item:hover:enabled {
  span.fa {
    color: var(--text-primary);
  }
}
button.item:disabled {
  color: var(--surface-3);
}
span.fa {
  color: var(--text-foreground);
  transition: 0.5s;
}
span.label {
  font-size: 1rem;
  color: var(--text-foreground);
  margin-top: 0.25rem;
}
.active {
  color: var(--secondary-accent) !important;
}

.scroll-container {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  gap: 1.5rem;
}
/* Firefox */
.scroll-container {
  scrollbar-width: auto;
  scrollbar-color: var(--surface-4) var(--surface-1);
}
/*Chromium*/
.scroll-container::-webkit-scrollbar {
  height: 6px;
  background-color: var(--surface-1);
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--surface-4);
}
