<p-drawer
    #sidebar
    id="floating-menu"
    position="bottom"
    showCloseIcon="false"
    [modal]="dismissible()"
    [dismissible]="dismissible()"
    [(visible)]="isSideBarVisible"
>
    <ng-template pTemplate="header">
        <!-- Close button -->
        <button
            id="closeBtn"
            type="button"
            aria-label="Close menu"
            (click)="toggle()"
        >
            <span class="fa-solid fa-angles-left"></span>
        </button>
    </ng-template>
    <div class="scroll-container">
        <!-- Back item button -->
        <button
            *ngIf="isBackButtonVisible"
            type="button"
            class="item"
            (click)="onBackButtonClick()"
        >
            <span class="active fa fa-angles-left"></span>
        </button>

        <!-- Edition options -->
        @for (option of currentOptions()(); track $index) {
            <button 
                type="button"
                class="item"
                (click)="onOptionClick(option)"
                [disabled]='option.isDisabled ? option.isDisabled() : false'
            >
                <div class="flex flex-column gap-1">
                    <!-- Icon -->
                    <span
                        [class]="option.icon"
                        [ngClass]="{ 'active' : (option.isActive?.() && !option.color) }"
                        [style]="getColorStyleDeclaration(option.color)"
                    ></span>
                    <!-- Label -->
                    <span 
                        class="label"
                        [ngClass]="{'font-semibold' : option.isActive?.() }"
                    >
                        {{ option.label }}
                    </span>
                </div>
            </button>
        }
    </div>
</p-drawer>