<p-sidebar
    #sidebar
    id="floating-menu"
    position="bottom"
    modal="false"
    [visible]="isSidebarDisplayed()"
>
    <div class="scroll-container">
        <!-- Back button -->
        <button *ngIf="isBackButtonVisible" type="button" (click)="onBackButtonClick()">
            <span class="active fa fa-angles-left"></span>
        </button>

        <!-- Edition options -->
        @for (option of currentOptions()(); track $index) {
            <button 
                type="button" 
                (click)="onOptionClick(option)"
                [disabled]='option.isDisabled ? option.isDisabled() : false'
            >
                <div class="flex flex-column gap-1">
                    <!-- Icon -->
                    <span
                        [class]="option.icon"
                        [ngClass]="{ 'active' : option.isActive?.() ?? false }"
                        [style]="getColorStyleDeclaration(option.color)"
                    ></span>
                    <!-- Label -->
                    <span 
                        class="label"
                        [ngClass]="{'font-semibold' : option.isActive?.() ?? false }"
                    >
                        {{ option.label }}
                    </span>
                </div>
            </button>
        }
    </div>
</p-sidebar>
