:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#noRecentNotebooks,
#noStarredCollections {
  background-repeat: repeat, repeat;
  background-image: linear-gradient(
    45deg,
    var(--p-content-border-color) 1px,
    transparent 1px
  ),
  linear-gradient(-45deg, var(--p-content-border-color) 1px, transparent 1px);
  background-size: 10px 10px;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  span.fa-regular {
    color: var(--p-text-hover-color);
    border-radius: .5rem;
  }
}

.dashed-container {
  display: flex;
  justify-content: center;
}
.dashed-container:not(:first-child) {
  border-style: dashed;
  border-color: var(--p-content-border-color);
  border-width: 1px 0 0 0;
}
.dashed-container > :first-child {
  width: 100%;
  max-width: 50rem;
  border-width: 0 1px;
  border-style: dashed;
  border-color: var(--p-content-border-color);
  margin: 0 10px;
}

button {
  border: none;
  cursor: pointer;
}

button.view-all {
  font-size: .875rem;
  font-weight: 500;
  color: var(--p-text-hover-color);
  transition: all 0.3s ease;
}

button.view-all:hover {
  color: var(--p-text-color);
}

button.recent-notebook {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: .5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

button.recent-notebook:hover {
  background-color: var(--p-content-elevation-section);
}

button.recent-notebook>.notebook-description {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.title > h2 {
  font-size: 1.15rem !important;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0;
}

.notebook-item {
  width: 100%;
  padding: 3px;
}
.notebook-item:not(:first-child) {
  border-top: 1px dashed var(--p-content-border-color);
}

.notebook-description>.icon {
  padding: .5rem .75rem;
  border-radius: .5rem;
  margin-right: .75rem;
  font-size: 1.15rem;
  transition: all 0.2s ease;
  border: 1px solid var(--p-content-border-color);
}

.quick-access,
.access-item {
  border-right: 1px dashed var(--p-content-border-color);
  border-bottom: 1px dashed var(--p-content-border-color);
}

.quick-access h3,
.activity h3 {
  font-size: .875rem !important;
  line-height: 1.75rem;
  font-weight: 500;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.quick-access .access-wrapper {
  border-radius: 12px;
  padding: 4px;
  border: 1px solid var(--p-content-border-color);
}

.quick-access button.access {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  border: 1px solid var(--p-content-border-color);
}

button.access:hover {
  background-color: var(--p-content-elevation-section);
}

.statistics .stat-container {
  height: 100%;
  padding: 1rem;
  transition: transform 0.2s ease;
  border: 1px solid var(--p-content-border-color);
}

.stat-container.highlight-primary {
  background-color: var(--p-highlight-primary-background) !important;
  border: 1px solid var(--p-highlight-primary-border) !important;
}

.stat-container.highlight-success {
  background-color: var(--p-highlight-success-background) !important;
  border: 1px solid var(--p-highlight-success-border) !important;
}

.small-text {
  font-size: .75rem;
  text-align: start;
  color: var(--p-text-hover-color);
}

.border-dashed-r {
  border-right: 1px dashed var(--p-content-border-color);
}
.border-dashed-b {
  border-bottom: 1px dashed var(--p-content-border-color);
}

.text-red {
  color: var(--p-red-400);
}
.text-green {
  color: var(--p-green-500);
}
.bg-papper-pattern {
  min-height: 3.5rem;
  height: 100%;
}