<div class="dashed-container">
    <div class="p-2">
        <div class="bg-papper-pattern"></div>
    </div>
</div>
<!-- Dashboard -->
<ng-container *ngIf="report$ | async as report">
    <!-- Recent marks -->
    <div class="dashed-container">
        <div class="title">
            <h2>Recent marks</h2>
            <button type="button" class="view-all" (click)="onViewAllRecentBtnClick()">
                View all
                <span class="fa-solid fa-angle-right"></span>
            </button>
        </div>
    </div>
    <section class="dashed-container recent-marks">
        <div *ngIf="report.recentMarks.length > 0; else noRecentMarksTemplate" class="marks-list">
            @for (mark of report.recentMarks; track $index) {
                <div class="mark-item">
                    <button type="button" class="recent-mark" (click)="onRecentMarkBtnClick(mark.id)">
                        <div class="mark-description">
                            <div class="icon">
                                @if (mark.emoji) {
                                    <span class="emoji">{{ mark.emoji }}</span>
                                }
                                @else {
                                    <i class="fa-regular fa-note-sticky"></i>
                                }
                            </div>
                            <div class="naming">
                                <div class="font-medium text-base text-left">{{ mark.name }}</div>
                                <div class="small-text">{{ mark.collectionName }}</div>
                            </div>
                        </div>
                        <div class="small-text">
                            {{ mark.createdDate != null ? (mark.createdDate.toString() | timeAgo) : 'Date not available'}}
                        </div>
                    </button>
                </div>
            }
        </div>
    </section>
    <!-- Quick access -->
    <div class="dashed-container">
        <div class="title">
            <h2>Quick access</h2>
            <button type="button" class="view-all" (click)="onViewAllStarredBtnClick()">
                View all
                <span class="fa-solid fa-angle-right"></span>
            </button>
        </div>
    </div>
    <section class="dashed-container quick-access">
        <div 
            *ngIf="report.starredCollections.length > 0; else noStarredCollectionsTemplate"
            class="grid quick-access-list"
        >
            @for (collection of report.starredCollections; track $index) {
                <div
                    class="col-6 md:col-3 access-item"
                    [ngClass]="{ 
                        'border-right-none' : ($index + 1) % 2 === 0,
                        'md: border-right-none' : ($index + 1) % 4 === 0,
                        'border-bottom-none' : isLastRow($index, 2, report.starredCollections.length),
                        'md:border-bottom-none' : isLastRow($index, 4, report.starredCollections.length),
                    }"
                >
                    <div class="access-wrapper">
                        <button
                            type="button"
                            class="access"
                            (click)="onStarredCollectionBtnClick(collection.id)"
                        >
                            @if (collection.emoji) {
                                <span class="emoji text-xl mb-2">{{ collection.emoji }}</span>
                            }
                            @else {
                                <span class="fa-regular fa-folder text-xl mb-2"></span>
                            }
                            <div>{{ collection.name }}</div>
                        </button>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- Stats -->
    <div class="dashed-container stats-title">
        <div class="title">
            <h2>Your stats</h2>
        </div>
    </div>
    <section class="dashed-container statistics">
        <div class="grid stats-list">
            <div class="col-6 border-dashed-r border-dashed-b">
                <div class="stat-container highlight-primary">
                    <div class="text-sm  mb-2">Total marks</div>
                    <div id="marksCount" class="text-3xl font-bold">{{ report.stats.marksCount }}</div>
                </div>
            </div>
            <div class="col-6 border-dashed-b">
                <div class="stat-container">
                    <div class="text-sm  mb-2">Total collections</div>
                    <div id="collectionsCount" class="text-3xl font-bold">{{ report.stats.collectionsCount }}</div>
                </div>
            </div>
            <div class="col-6 border-dashed-r">
                <div class="stat-container">
                    <div class="text-sm  mb-2">New this week</div>
                    <div class="text-3xl font-bold">
                        <span id="weekMarksCount">{{ report.stats.weekMarksCount }}</span>
                        <span *ngIf="true" class="fa-solid fa-fire text-red text-2xl ml-2"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-container" [ngClass]="{'highlight-success': report.stats.todayMarksCount > 0}">
                    <div class="mb-2">
                        <span class="text-sm  mr-2">New today</span>
                    </div>
                    <div
                        class="text-3xl font-bold"
                        [ngClass]="{ 'text-green' : report.stats.todayMarksCount > 0}"
                    >
                        <span>{{ report.stats.todayMarksCount > 0 ? '+ ' : '' }}</span>
                        <span id="todayMarksCount">{{ report.stats.todayMarksCount }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Activity -->
    <section class="dashed-container weekly-activity">
        <dashboard-daily-mark-activity-chart
            class="p-2"
            [activity]="report.stats.weeklyMarkActivity"
        />
    </section>
</ng-container>

<div class="dashed-container flex-1">
    <div class="p-2">
        <div class="bg-papper-pattern"></div>
    </div>
</div>

<ng-template #noRecentMarksTemplate>
    <div class="p-3">
        <div id="noRecentMarks" class="flex flex-column align-items-center p-3">
            <div class="flex align-items-center gap-1">
                <span class="fa-regular fa-file-lines p-3 text-xl"></span>
                <h2 class="m-0 text-lg font-medium">No recent marks</h2>
            </div>
            <p class="m-0 max-w-20rem text-center text-sm font-light">You haven't created any marks yet. Start creating your first mark.</p>
        </div>
    </div>
</ng-template>
<ng-template #noStarredCollectionsTemplate>
    <div class="p-3">
        <div id="noStarredCollections" class="flex flex-column align-items-center p-3">
            <div class="flex align-items-center gap-1">
                <span class="fa-regular fa-folder p-3 text-xl"></span>
                <h2 class="m-0 text-lg font-medium">No starred collections</h2>
            </div>
            <p class="m-0 max-w-20rem text-center text-sm font-light">Add collections to favorites for quick access to your most important marks.</p>
        </div>
    </div>
</ng-template>