<p-panel
    class="mb-2 fadein animation-duration-500"
    [ngClass]="{ 'selected' : selected() }"
    [toggleable]="true"
    [collapsed]="!gist() && managerState() === managerStates.active"
    (collapsedChange)="onPanelToggle($event)"
    tiptapDraggable
>
    <!-- Header -->
    <ng-template #header>
        <h2 class="text-sm font-normal border-none m-0">
            <span [class]="'header-icon mr-2 ' + (managerState() | GistManagerIcon)"></span>
            {{ title() }}
        </h2>
    </ng-template>
    <!-- Icon buttons -->
    <ng-template #icons>
        <p-button
            id="reloadBtn"
            type="button"
            severity="secondary"
            ariaLabel="Reload"
            icon="fa fa-arrows-rotate"
            pTooltip="Reload"
            tooltipPosition="top"
            rounded
            text
            [disabled]="!gist() && managerState() === managerStates.active"
            (click)="onReloadButtonClick()"
        />
    </ng-template>
    <!-- Body -->
    @defer (when gist() != undefined) {
        <gist-viewer [gist]="gist()!" (onFileChanged)="onFileChanged($event)"/>
    }
    @placeholder {
        @switch (managerState()) {
            @case (managerStates.idle) {
                <gist-loader (onGistSelected)="onGistSelected($event)"/>
            }
            @case (managerStates.error) {
                <div class="error-container text-sm">
                    <span class="text-secondary">
                        {{ (errorMessage()) ?? "We're experiencing some unexpected difficulties. Please try again later." }}
                    </span>
                </div>
            }
        }
    }
</p-panel>
