@defer(when mark$ | async) {
    <section class="container">
        <!-- Mark menu bar -->
        <nav id="markMenuBar">
            <div class="flex gap-2">
                <!-- Breadcrumb -->
                <div class="max-w-16rem sm:max-w-25rem md:max-w-30rem lg:max-w-max">
                    <mark-breadcrumb
                        [markName]="currentMark().name"
                        [collectionName]="currentMark().collectionName ?? notFoundPlaceHolder"
                        [collectionId]="currentMark().collectionId"
                        [emoji]="currentMark().emoji"
                    />
                </div>
                <!-- Auto save indicator -->
                <mark-autosave-indicator
                    [saveState]="saveState()"
                    (onRetrySave)="retryMarkSave()"
                />
            </div>
            <div class="flex gap-3">
                <!-- Block title -->
                <span class="text-secondary hidden md:inline">
                    {{ currentBlock()?.title }}
                </span>
                <!-- Navigators -->
                 <block-navigator
                    [blockIndex]="currentGalleryBlockIndex()"
                    [blocksLength]="currentMark().blocks.length"
                    (positionChanged)="updateBlockIndex($event)"
                 />
                <!-- New block button -->
                <button
                    id="newBlockButton"
                    type="button"
                    aria-label="Block menu"
                    pTooltip="Block menu"
                    (click)="openBlockMenuDialog(this.currentMark().blocks)"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24"><g fill="none" stroke="#e9ecef" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <path d="M21 7.353v9.294a.6.6 0 0 1-.309.525l-8.4 4.666a.6.6 0 0 1-.582 0l-8.4-4.666A.6.6 0 0 1 3 16.647V7.353a.6.6 0 0 1 .309-.524l8.4-4.667a.6.6 0 0 1 .582 0l8.4 4.667a.6.6 0 0 1 .309.524"/>
                        <path d="m3.528 7.294l8.18 4.544a.6.6 0 0 0 .583 0l8.209-4.56M12 21v-9"/></g>
                    </svg>
                </button>
            </div>
        </nav>
        <!-- Form -->
        <form
            [formGroup]="markForm"
            autocomplete="off"
        >
            <!-- Header -->
            <div id="markHeader" class="md:mt-4">
                <app-emoji-picker
                    defaultIconClass="fa-regular fa-note-sticky"
                    [currentEmoji]="currentMark().emoji"
                    (emojiClick)="onEmojiSelected($event)"
                    (emojiDeleted)="onEmojiDeleted()"
                />
                <input 
                    id="markName"
                    type="text" 
                    formControlName="inputName"
                    [placeholder]="markNamePlaceHolder"
                    (input)="onMarkNameInputChanged($event)"
                >
            </div>
            <!-- Blocks gallery -->
            <ng-container formArrayName="blocks">
                <p-galleria
                    #blockGalleria
                    id="blockGalleria"
                    [value]="markForm.controls.blocks.controls"
                    [showIndicators]="false"
                    [showThumbnails]="false"
                    [activeIndex]="currentGalleryBlockIndex()"
                >
                    <ng-template let-block pTemplate="item">
                        <div [formGroup]="block">
                            <marks-block
                                formControlName="content"
                                [title]="block.value['title']"
                                (onEditorSelected)="onEditorSelected($event)"
                                (onValueChange)="onEditorValueChanged(block.value['id'], $event)"
                            />
                        </div>
                    </ng-template>   
                </p-galleria>
            </ng-container>
        </form>
    </section>
    <!-- Floating font menu button -->
    <shared-floating-action-button 
        iconClass="fa fa-font"
        (onClick)="onTextFormattingButtonClick()"
    />
    <!-- Floating menu -->
    <shared-floating-menu
        [options]="floatingMenuOptions()"
        [visible]="isFloatingMenuVisible()"
    />
} @placeholder {
    <!-- Loading skeleton template -->
    <div class="container mt-6">
        <div class="w-full mb-5">
            <p-skeleton height="3rem"/>
        </div>
        <div class="w-full mb-5">
            <p-skeleton height="200px"/>
        </div>
        <div class="grid">
            <div class="col-12 md:col-6">
                <p-skeleton height="2.5rem"/>
            </div>
            <div class="col-12 md:col-6">
                <p-skeleton height="2.5rem"/>
            </div>
        </div>
    </div>
}