<!-- Form -->
<div class="container relative">
    <form
        *ngIf="!loading; else skeleton"
        [formGroup]="form"
        (submit)="onSubmit()"
        autocomplete="off"
    >
        <!-- Name -->
        <div class="my-6">
            <input
                id="name"
                placeholder="New Mark"
                maxlength="255"
                pInputText
                formControlName="name"
                type="text"
                class="transparent w-full p-0 text-2xl font-fraunces font-semibold"
            />
            <shared-error-field
                *ngIf="isInvalidField('name')"
                [validationField]="getValidationField('name', 'masc', 'name title')">
            </shared-error-field>  
        </div>

        <!-- Blocks -->
        <ng-container formArrayName="blocks">
            <div class="grid m-0">
                @for (blockForm of currentBlocks.controls; track $index; let i = $index;) {
                    <div 
                        [class]="'p-0 mb-3 col-12 md:col-' + blockForm.value['cols']"
                        [formGroup]="castAbstractControlToFormGroup(blockForm)"
                    >
                        <!-- Text editor -->
                        <marks-text-editor
                            [title]="blockForm.value['title']"
                            [color]="blockForm.value['color']"
                            (onEditorSelected)="onEditorSelected($event)"
                            (onOptionsButtonClicked)="onBlockOptionsButtonClick(i)"
                            (onTitleChanged)="onBlockTitleChanged(i, $event)"
                            formControlName="content"
                        />
                    </div>
                }
                <!-- New block button template -->
                <div class="col-12 p-0">                    
                    <button 
                        type="button"
                        class="add-block"
                        (click)="this.addBlock(this.currentBlocks.length, 12)"
                    >
                        <span class="fa fa-plus mr-2 text-lg"></span>
                        <span class="fa fa-cube mr-2 text-lg"></span>
                        <span class="text-sm">Add new block</span>
                    </button>
                </div>
            </div>
        </ng-container>

        <!-- Temporary Submit button -->
        <div class="grid mt-5">
            <div class="col-12 md:col-6">
                <shared-general-button
                    severity="primary"
                    label="Save"
                    icon="fa fa-floppy-disk"
                    [submit]="true"
                    [disabled]="submit"
                ></shared-general-button>
            </div>
            <div class="col-12 md:col-6">
                <shared-general-button
                    severity="cancel"
                    label="Cancel"
                    icon="fa-solid fa-angles-left"
                    [disabled]="submit"
                    (click)="onCancel()"
                ></shared-general-button>
            </div>
        </div>
    </form>
</div>

<!-- Floating font menu button -->
<p-button
    styleClass="floating-button"
    icon="fa fa-font"
    size="large"
    [rounded]="true"
    [raised]="true"
    (onClick)="changeMarkMenuState()"
/>

<!-- Mark menu -->
<marks-floating-menu
    [menuOptions]="fontOptions()"
    [visible]="isMarkMenuVisible"
/>

<!-- Block menu -->
<marks-floating-menu
    [menuOptions]="blockOptions()"
    [visible]="isBlockMenuVisible"
/>

<!-- Loading skeleton template -->
<ng-template #skeleton>
    <div class="w-full my-5">
        <p-skeleton height="3rem"/>
    </div>
    <div class="w-full mb-5">
        <p-skeleton height="200px"/>
    </div>
    <div class="grid">
        <div class="col-12 md:col-6">
            <p-skeleton height="2.5rem"/>
        </div>
        <div class="col-12 md:col-6">
            <p-skeleton height="2.5rem"/>
        </div>
    </div>
</ng-template>