#markMenuBar {
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  background-color: var(--main-black-color);
  z-index: 999;
  padding: .375rem 1rem;

  .separator {
    color: rgb(255, 255, 255, 0.3);
  }
  .item {
    color: rgb(255, 255, 255, 0.81);
    font-weight: 400;
    padding: .125rem 0.25rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
  }
  .item.collection:hover {
    cursor: pointer;
    background-color: var(--main-gray-700);
  }
}

#newBlockButton {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
}

.add-block {
  width: 100%;
  padding: 1.5em;
  color: var(--light-gray-color);
  font-style: italic;
  text-align: center;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid var(--main-gray-700);
}
.add-block:hover {
  color: var(--main-purple-color);
}

.title {
  border: 1px solid var(--main-gray-700);
  padding: 0.5rem 1rem;
  font-family: 'PlayfairDisplay';
  font-weight: 600;
  font-size: 1.75rem;
  cursor: default;
}

.chips {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.divider {
  margin: 0.5rem 0;
  border: solid 1px var(--main-gray-700);
}

.autosave-indicators {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

.autosave-indicators > div,
.autosave-indicators > button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.status {
  color: rgb(255, 255, 255, 0.8);
}

.saved {
  color: var(--green-500);
}
.error {
  color: var(--yellow-500);
}

.spinner {
  animation: spin 0.8s linear infinite;
  color: var(--main-purple-color);
}

@keyframes spin {
  to { transform: rotate(360deg); }
}