#markMenuBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  background-color: var(--paper-bg);
  z-index: 999;
  padding: .375rem 1rem;
}

#markHeader {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  input#markName {
    width: 100%;
    border: none;
    font-family: 'PlayfairDisplay';
    font-size: 1.75rem;
    font-weight: 500;
    background-color: var(--paper-bg);
    color: var(--text-primary);
    padding: 0;
  }

  input#markName::placeholder {
    color: rgb(255, 255, 255, 0.6) !important;
  }
}

#newBlockButton {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}