<ng-container *ngIf="collection$ | async as collection">
    <!-- Breadcrumb -->
    <collection-explorer-breadcrumb class="mb-4" [pathSegments]="collection.path ?? []" [currentIdCollection]="collection.id" />

    <!-- Description -->
    <collection-description
        class="mb-4"
        [collectionId]="collection.id"
        [description]="collection.description"
    />

    <!-- Data  -->
    <ng-container *ngIf="items$ | async as items">
        <collection-item-data-view
            [items]="items"
            [currentFilter]="currentFilter()"
            [loading]="loading()"
            (onFilterSelected)="applyCollectionItemFilter($event)"
            (onItemViewChange)="onItemViewChange($event, items.length)"
            (onItemUpdated)="onItemUpdated()"
        />
    </ng-container>

    <!-- Floating action button -->
    <shared-floating-action-button
        iconClass="fa fa-plus"
        [enabled]="!loading()"
        (onClick)="onFloatingButtonClick()"
    />

    <!-- Floating menu -->
    <shared-floating-menu
        #addItemMenu
        [options]="ADD_ITEM_ACTIONS"
        [dismissible]="true"
    />
</ng-container>