:root {
    --main-bar-width-md  : 3.5rem;
    --main-bar-heigth-sm : 3.5rem;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.markit-dark {
    #auth-background-container {
        .shape:not(.triangle-md, .triangle-sm) {
            border-color: #a855f733;
        }
        .triangle-md, .triangle-sm {
            border-bottom-color: #a855f733;
        }
        .shape.solid {
            background-color: #a855f733;
        }
        .bg-gradient {
            background-image: linear-gradient(to bottom right, #1a1b1e , #1a1b1e , #2d1b40);
        }
    }
}

/* xl: width >= 1200px */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 40vw !important;
        margin: auto;
    }
}
/* lg: width >= 992px */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 50vw;
        margin: auto;
    }
}
/* md: width >= 768px */
@media only screen and (min-width: 768px) {
    .p-drawer.floating-menu {
        display: flex;
        align-items: center;
        .p-drawer-header {
            display: none !important;
        }
        .p-drawer-content {
            width: auto;
            border-radius: .5rem .5rem 0 0;
            padding-left:  3rem !important;
            padding-right: 3rem !important;
        }
    }
    #main-bar-container {
        height: 100vh;
        position: sticky;
        width: var(--main-bar-width-md);
        top: 0;
        border-right: 1px solid var(--p-content-border-color);

        nav {
            height: 100%;
            flex-direction: column;
            .brand {
                border-bottom: 1px solid var(--p-content-border-color);
            }
            .profile {
                border-top: 1px solid var(--p-content-border-color);
            }
        }
    }
    #markMenuBar {
        top: 0;
        right: 0;
        gap: 1rem;
        width: calc(100vw - var(--main-bar-width-md));
    }
    .wrapper-floating-button {
      z-index: 1200;
      right: 2.5rem !important;
      bottom: 2.5rem !important;
    }
}
/* sm: width <= 768px */
@media only screen and (max-width: 768px) {
    #form-container {
        height: 100vh;
    }
    #markMenuBar {
        width: 100vw;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        border-top: 1px solid var(--p-content-border-color);
    }
    #main-bar-container {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: var(--p-content-elevation-main);
        border-bottom: 1px solid var(--p-content-border-color);

        nav{
            width: 100%;
            height: var(--main-bar-heigth-sm);
            padding: 0.75rem 1rem;
        }
    }
    .markit-logo {
        height: 50px !important;
    }
}