@import "./typography.css";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Aplica width >= 992px */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 40vw;
        margin: auto;
    }
}
/* Aplica width >= 768px */
@media only screen and (min-width: 768px) {
    #edition-menu {
        .p-sidebar {
            max-width: 640px;
            left: calc(50% - (640px) / 2);
            bottom: 1rem;
            border-radius: 50px;
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }
    }
    .card {
        height: 50%;
    }
    .floating-button {
        position: fixed;
        right: 30%;
        bottom: 7.5rem;
    }
}
/* Aplica width <= 768px */
@media only screen and (max-width: 768px) {
    #form-container {
        height: 100vh;
    }
    .card {
        min-height: 16rem;
    }
    .floating-button {
        position: fixed;
        right:  1rem;
        bottom: 6.5rem;
    }
}