@import "./typography.css";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Aplica width >= 768px */
@media only screen and (min-width: 768px) {
    .card {
        height: 50%;
    }
}

/* Aplica width <= 768px */
@media only screen and (max-width: 768px) {
    #form-container {
        height: 100vh;
    }
    .card {
        min-height: 16rem;
    }
}