/** Open Sans **/
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-ExtraBold.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-LightItalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-MediumItalic.ttf') format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url('./../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format("truetype");
    font-weight: 800;
    font-style: italic;
}
/** Playfair Display **/
@font-face {
    font-family: "PlayfairDisplay";
    src: url('./../fonts/playfair-display/PlayfairDisplay-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url('./../fonts/playfair-display/PlayfairDisplay-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url('./../fonts/playfair-display/PlayfairDisplay-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'OpenSans';
}

button, input {
    font-family: 'OpenSans';
}

.font-playfair {
    font-family: 'PlayfairDisplay';
}