<div class="flex align-items-center gap-2">
    @for( breadcrumb of breadcrumbs(); track $index ) {
        <!-- Label -->
        <div (click)="navigate(breadcrumb.url)" [ngClass]="{ 'active' : $index === breadcrumbs().length - 1}" class="label">
            @if (breadcrumb.url === homeUrl) {
                <i class="fa fa-home"></i>
            }
            @else {
                {{ breadcrumb.label| titlecase }}
            }
        </div>
        <!-- Arrow Icon -->
        <div *ngIf="$index < breadcrumbs().length - 1" class="mx-2">
            <i class="fa fa-chevron-right"></i>
        </div>
    }
</div>