<form
    [formGroup]="form"
    (submit)="onSubmit()"
    autocomplete="off"
>
    <!-- Name input -->
    <div class="item-name">
        <label for="name" class="text-sm font-medium mb-2">Name</label>
        <input
            #nameInput
            id="name"
            autocomplete="off"
            formControlName="name"
            maxlength="255"
            pInputText
            type="text"
            placeholder="Enter name..."
        />
        <!-- Validation name error message -->
        <div *ngIf="isInvalidField('name')" class="mt-1">
            <shared-error-field [validationField]="getValidationField('name', 'masc', 'name title')" />
        </div>
    </div>

    <!-- Emoji picker -->
    <div class="item-emoji">
        <label for="emoji" class="text-sm font-medium mb-2">Icon</label>        
        <div class="icon-container">
            <app-emoji-picker
                #emoji
                [defaultIconClass]="defaultPickerIconClass"
                [currentEmoji]="currentCollectionItem.emoji"
                (emojiClick)="setEmoji($event)"
                (emojiDeleted)="setEmoji(undefined)"
            />
        </div>
    </div>

    <div class="w-full flex justify-content-end mt-5 gap-2">
        <!-- Cancel button -->
        <button
            id="cancelBtn"
            type="button"
            aria-label="cancel"
            (click)="onCancel()"
        >
            Cancel
        </button>
        <!-- Submit button -->
        <button
            id="createBtn"
            type="submit"
            aria-label="create"
            [disabled]="submit"
        >
            <div class="flex justify-content-center align-items-center">
                <span [ngClass]="{ 'mr-2': submit }" >Save</span>
                @if (submit) {
                    <p-progressSpinner
                        [style]="{ display: 'flex', width: '1rem', height: '1rem' }"
                        strokeWidth="4"
                    ></p-progressSpinner>
                }
            </div>
        </button>
    </div>
</form>
