<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Is Enabled -->
    <div class="form-field flex-column sm:flex-row sm:justify-content-between sm:align-items-center">
        <div>
            <label for="isEnabled">Enabled</label>
            <p class="form-description">Turn this on to enable the demo features of the app. It will allow users to authenticate using a temporary guest account.</p>
        </div>
        <div class="control-container">
            <p-toggleSwitch
                name="isEnabled"
                formControlName="isEnabled"
            />
        </div>
    </div>
    <!-- Session duration -->
    <div class="form-field flex-column sm:flex-row sm:justify-content-between sm:align-items-center">
        <div>
            <label for="sessionDurationInMinutes">Session duration</label>
            <p class="form-description">The validity period (in minutes) for the demo session.</p>
        </div>
        <div class="control-container">
            <p-inputNumber
                inputStyleClass="w-full"
                inputId="sessionDurationInMinutes"
                formControlName="sessionDurationInMinutes"
                autocomplete="off"
                [class.invalid]="isInvalidField('sessionDurationInMinutes')"
            />
            @if (isInvalidField('sessionDurationInMinutes')) {
                <shared-error-field [validationField]="getValidationField('sessionDurationInMinutes', 'masc', 'session duration')" />
            }
        </div>
    </div>
    <!-- User template ID -->
    <div class="form-field flex-column sm:flex-row sm:justify-content-between sm:align-items-center">
        <div>
            <label for="userTemplateId">User template ID</label>
            <p class="form-description">Specify a guest user ID to use as a template for demo sessions. Leave empty to create demo sessions without pre-configured user data.</p>
        </div>
        <div class="control-container">
            <input
                id="userTemplateId"
                pInputText
                formControlName="userTemplateId"
                maxlength="100"
                autocomplete="off"
                [class.invalid]="isInvalidField('userTemplateId')"
            />
            @if (isInvalidField('userTemplateId')) {
                <shared-error-field [validationField]="getValidationField('userTemplateId', 'masc', 'user template ID')" />
            }
        </div>
    </div>

    <!-- Submit button -->
     <div class="flex md:justify-content-end">
         <div class="w-full md:w-10rem">
            <p-button
                type="submit"
                size="small"
                severity="primary"
                label="Save changes"
                [disabled]="isSubmitting()"
            />
         </div>
     </div>
</form>
