.form-field {
  display: flex;
  padding: .75rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--p-content-border-color);
  gap: .25rem;
}

.form-description {
  font-size: .85rem;
  color: var(--p-text-hover-color);
  margin: .5rem 0;
}

.control-container {
  min-width: 13rem;
  text-align: end;
}