<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Is Enabled -->
    <div class="form-field">
        <div>
            <label for="isEnabled">Enabled</label>
            <p class="form-description">Turn this on to enable the demo features of the app. It will allow users to authenticate using a temporary guest account.</p>
        </div>
        <div>
            <p-toggleSwitch
                name="isEnabled"
                formControlName="isEnabled"
            />
        </div>
    </div>
    <!-- Session duration -->
    <div class="form-field">
        <div>
            <label for="tokenDurationInMinutes">Session duration</label>
            <p class="form-description">The validity period (in minutes) for the demo session.</p>
        </div>
        <div>
            <p-inputNumber
                inputStyleClass="w-full"
                inputId="sessionDurationInMinutes"
                formControlName="sessionDurationInMinutes"
                autocomplete="off"
                [class.invalid]="isInvalidField('sessionDurationInMinutes')"
            />
            @if (isInvalidField('sessionDurationInMinutes')) {
                <shared-error-field [validationField]="getValidationField('sessionDurationInMinutes', 'masc', 'session duration')" />
            }
        </div>
    </div>

    <!-- Submit button -->
     <div class="flex md:justify-content-end">
         <div class="w-full md:w-10rem">
            <p-button
                type="submit"
                size="small"
                severity="primary"
                label="Save changes"
                [disabled]="isSubmitting()"
            />
         </div>
     </div>
</form>
