<form
    [formGroup]="form"
    (submit)="onLoadGistFromUrl()"
    autocomplete="off"
>
    <div class="load-container flex flex-column">
        <div class="grid">
            <div class="col-12 md:col-9">
                <input
                    id="url"
                    formControlName="url"
                    type="text"
                    placeholder="https://gist.github.com/username/..."
                    class="w-full"
                    autocomplete="off"
                >
            </div>
            <div class="col-12 md:col-3">
                <shared-general-button
                    label="Load Gist"
                    severity="primary"
                    [submit]="true"
                />
            </div>
        </div>
        <shared-error-field
            *ngIf="isInvalidField('url')"
            [validationField]="getValidationField('url', 'masc')"
        />
    </div>
</form>