:host ::ng-deep {
    //** Confirm dialog  **/
    #message-icon {
        font-size: 3rem;
    }
    
    .p-confirm-dialog{
        .p-dialog-content {
            display: flex;
            flex-direction: column;
            padding: 1rem 1.5rem;
            margin: 1rem 0;
            .p-confirm-dialog-message {
                margin: 0;
                color: var(--text-secondary);
            }
            .p-confirm-dialog-icon {
                font-size: 3rem;
                margin-bottom: .5rem;
                color: var(--secondary-accent);
            }
        }
        .p-dialog-footer {
            .p-button-label {
                font-weight: 400;
                font-size: .875rem;
            }
            button {
                padding: .5rem 1rem;
                font-size: 1rem;
            }
            button.p-confirm-dialog-reject {
                border: 1px solid var(--border-color);
                color: var(--text-secondary);
            }
            button.p-confirm-dialog-accept {
                border: none;
                color: var(--text-primary);
                background-color: var(--accent-color);
                margin: 0;
            }
        }
    }

    //** Toast **/
    .p-toast .p-toast-message {
        color: #ffffff;
        border: 1px solid;
    }
    .p-toast .p-toast-message.p-toast-message-error {
        background-color: var(--highlight-surface-red);
        border-color: var(--highlight-border-red);
    }
    .p-toast .p-toast-message.p-toast-message-info {
        background-color: var(--highlight-surface-blue);
        border-color: var(--highlight-border-blue);
    }
    .p-toast .p-toast-message.p-toast-message-success {
        background-color: var(--highlight-surface-green);
        border-color: var(--highlight-border-green);
    }
    .p-toast .p-toast-message.p-toast-message-warn {
        background-color: var(--highlight-surface-amber);
        border-color: var(--highlight-border-amber);
    }
    .p-toast-icon-close {
        color: var(--text-secondary);
    }
    .p-toast-summary {
        font-weight: 600;
    }
    .p-toast-detail {
        color: var(--text-secondary);
    }
}