:host ::ng-deep {
    //** Confirm dialog  **/
    #message-icon {
        font-size: 3rem;
    }
    .p-dialog {
        background: var(--main-purple-color);
        border-radius: 1rem;
        padding: 2rem;
    }
    .confirm-dialog-header, .confirm-dialog-content {
        text-align: center;
    }
    .confirm-dialog-header, .confirm-dialog-content, .confirm-dialog-footer {
        color: var(--main-black-color);
    }
    .confirm-dialog-icon {
        display: flex;
        justify-content: center;
        color: var(--main-gray-800);
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .confirm-dialog-header {
        font-family: 'PlayfairDisplay';
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .confirm-dialog-content {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .confirm-dialog-footer {
        display: flex;
        justify-content: space-around;
    }
    .confirm-dialog-footer > .p-button:first-child {
        color: var(--main-purple-color);
        background-color: var(--main-gray-800);
    }
    .confirm-dialog-footer > .p-button:last-child {
        color: var(--main-gray-800);
    }
    .p-dialog .confirm-dialog-footer .p-button {
        border: solid 1px var(--main-gray-800);
        border-radius: 1.5rem;
        padding: 0.5rem;
        width: 45%;
    }
    .p-dialog .confirm-dialog-footer .p-button:hover {
        transform: translateY(-0.25rem);
        transition-duration: 300ms;
    }
    .p-dialog .confirm-dialog-footer .p-button:focus {
        box-shadow: none;
    }
    
    //** Toast **/
    .p-toast .p-toast-message {
        background-color: var(--main-gray-800);
        border-left: solid 10px;
        color: #ffffff;
    }
    .p-toast .p-toast-message.p-toast-message-error {
        border-left-color: #ff5757;
    }
    .p-toast .p-toast-message.p-toast-message-info {
        border-left-color: var(--main-purple-color);
    }
    .p-toast .p-toast-message.p-toast-message-success {
        border-left-color: #1ea97c;
    }
    .p-toast .p-toast-message.p-toast-message-warn {
        border-left-color: #cc8925;
    }
    .p-toast-icon-close {
        color: #FFFFFF;
    }
    .p-toast-summary {
        font-weight: 600;
    }
    .p-toast-detail {
        color: rgb(255, 255, 255, 0.6);
    }
}