:host ::ng-deep {
    //** Confirm dialog  **/
    #message-icon {
        font-size: 3rem;
    }
    .p-dialog {
        background: var(--surface-overlay-1);
        border-radius: 1rem;
        padding: 2rem;
    }
    .confirm-dialog-header, .confirm-dialog-content {
        text-align: center;
    }
    .confirm-dialog-icon {
        display: flex;
        justify-content: center;
        color: var(--yellow-500);
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .confirm-dialog-header {
        font-family: 'PlayfairDisplay';
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .confirm-dialog-content {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: var(--text-secondary);
    }
    .confirm-dialog-footer {
        display: flex;
        justify-content: space-around;
    }
    .confirm-dialog-footer > .p-button:first-child {
        color: var(--text-primary);
        background-color: var(--accent-color);
    }
    .confirm-dialog-footer > .p-button:last-child {
        color: var(--text-secondary);
    }
    .p-dialog .confirm-dialog-footer .p-button {
        border: solid 1px var(--border-color);
        border-radius: 1.5rem;
        padding: 0.5rem;
        width: 45%;
    }
    .p-dialog .confirm-dialog-footer .p-button:hover {
        transform: translateY(-0.25rem);
        transition-duration: 300ms;
    }
    .p-dialog .confirm-dialog-footer .p-button:focus {
        box-shadow: none;
    }
    
    //** Toast **/
    .p-toast .p-toast-message {
        color: #ffffff;
        border: 1px solid;
    }
    .p-toast .p-toast-message.p-toast-message-error {
        background-color: var(--highlight-surface-red);
        border-color: var(--highlight-border-red);
    }
    .p-toast .p-toast-message.p-toast-message-info {
        background-color: var(--highlight-surface-blue);
        border-color: var(--highlight-border-blue);
    }
    .p-toast .p-toast-message.p-toast-message-success {
        background-color: var(--highlight-surface-green);
        border-color: var(--highlight-border-green);
    }
    .p-toast .p-toast-message.p-toast-message-warn {
        background-color: var(--highlight-surface-amber);
        border-color: var(--highlight-border-amber);
    }
    .p-toast-icon-close {
        color: var(--text-secondary);
    }
    .p-toast-summary {
        font-weight: 600;
    }
    .p-toast-detail {
        color: var(--text-secondary);
    }
}