:host {
  display: block;
}

button.path-segment {
  padding: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

button.path-segment:hover {
  color: var(--p-text-color);
  .root-icon {
    color: var(--p-text-color);
  }
}

.active {
  color: var(--p-text-color);
  font-weight: 500;
}
.root-icon {
  transition: color 0.3s ease;
}

.root-icon, .path-segment, .separator {
  color: var(--p-text-muted-color);
}