:host {
  display: block;
}

button.path-segment {
  padding: 0;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}

button.path-segment:hover {
  color: rgb(255, 255, 255);
}

span.separator {
  color: rgb(255, 255, 255, 0.6);
}

.active {
  color: rgb(255, 255, 255);
}