:host {
  display: flex;
  align-items: center;
  gap: 1rem;
}
button {
  cursor: pointer;
  border: none;
  padding: 0;
  color: var(--p-text-color);
}
button:disabled {
  color: var(--p-text-hover-color);
  cursor: default;
}
