<button
    type="button"
    aria-label="Navigate to left"
    tooltipPosition="top"
    [pTooltip]="previousBlockName()"
    [disabled]="blockIndex() === 0"
    (click)="onNavigateBackwardBtnClick()"
>
    <span class="fa-solid fa-angle-left"></span>
</button>
<button
    type="button"
    aria-label="Navigate to right"
    tooltipPosition="top"
    [pTooltip]="nextBlockName()"
    [disabled]="blockIndex() === blocks().length - 1"
    (click)="onNavigateForwardBtnClick()"
>
    <span class="fa-solid fa-angle-right"></span>
</button>