:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

article {
  background-color: var(--p-content-elevation-section);
  border-radius: .75rem;
  border: 1px solid var(--p-overlay-modal-border-color);
}

.divider {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  div {
    border-color: var(--p-overlay-modal-border-color);
  }
}
.divider-label {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: .875rem;
  color: var(--p-text-hover-color);
  font-weight: 300;
  span {
    background-color: var(--p-content-elevation-section);
  }
}

