<div class="w-full max-w-28rem">
    <div class="flex align-items-end justify-content-center">
        <!-- Logo -->
        <svg width="70" height="70" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
            <!-- square -->
            <rect x="20" y="20" width="50" height="50" fill="var(--p-contrast-400)"/>
            <!-- circle -->
            <circle cx="70" cy="70" r="40" fill="var(--p-primary-500)"/>
            <!-- quarter circle (cut/overlay) -->
            <path d="M70 30 A40 40 0 0 0 30 70 L70 70 Z" fill="var(--p-surface-50)"/>
        </svg>
        <h1 class="text-5xl font-playfair font-semibold m-0 ml-2">Welcome back.</h1>
    </div>
    <p class="font-light text-center text-sm text-secondary mb-5">Organize your thoughts. Amplify your productivity.</p>
    <article class="p-4 md:p-5">
        <!-- Login form -->
        <form
            [formGroup]="form"
            (submit)="onLogin()"
            autocomplete="off"
        >
            <div class="flex flex-column mx-auto mb-3">
                <div class="field">
                    <!-- Email -->
                    <label for="email" class="text-sm text-secondary mb-2">Email</label>
                    <input 
                        id="email"
                        pInputText
                        formControlName="email"
                        type="text"
                        placeholder="Email address"
                        class="rounded w-full"
                        autocomplete="off"
                    >
                    <shared-error-field
                        *ngIf="isInvalidField('email')"
                        [validationField]="getValidationField('email', 'masc')">
                    </shared-error-field>
                </div>
                <div class="field mb-5">
                    <!-- Password -->
                    <label for="password" class="text-sm text-secondary mb-2">Password</label>
                    <p-password
                        inputId="password"
                        formControlName="password"
                        placeholder="Password"
                        styleClass="w-full"
                        inputStyleClass="rounded w-full"
                        autocomplete="off "
                        [toggleMask]="true"
                        [feedback]="false"
                    >
                    </p-password>
                    <shared-error-field
                        *ngIf="isInvalidField('password')"
                        [validationField]="getValidationField('password', 'masc')">
                    </shared-error-field>
                </div>
                <!-- Login submit -->
                <div>
                    <p-button
                        type="submit"
                        severity="primary"
                        label="Sign In"
                        size="small"
                        [disabled]="submit()"
                    />
                </div>
            </div>
        </form>
        <footer class="mt-4">
            <!-- Divider -->
            <div class="relative mb-4">
                <div class="divider">
                    <div class="w-full border-1"></div>
                </div>
                <div class="divider-label">
                    <span class="px-2">Or continue with</span>
                </div>
            </div>
            <div class="grid">
                <!-- Google Button -->
                @if (authOptions().isGoogleAvailable) {
                    <div class="col-12 md:col-6">
                        <p-button
                            type="button"
                            severity="info"
                            label="Google"
                            size="small"
                            icon="fa-brands fa-google"
                            class="external-login-button"
                            [disabled]="submit()"
                            (click)="onGoogleLogin()"
                        />
                    </div>
                }
                <!-- GitHub Button -->
                @if (authOptions().isGitHubAvailable) {
                    <div class="col-12 md:col-6">
                        <p-button
                            type="button"
                            severity="info"
                            label="GitHub"
                            size="small"
                            icon="fa-brands fa-github"
                            class="external-login-button"
                            [disabled]="submit()"
                            (click)="onGithubLogin()"
                        />
                    </div>
                }
                <!-- Demo Button -->
                @if (authOptions().isDemoModeAvailable) {
                    <div [ngClass]="availableOptionsCounter() % 2 === 0 ? 'col-12 md:col-6' : 'col-12'">
                        <p-button
                            type="button"
                            severity="success"
                            label="Try Demo"
                            size="small"
                            icon="fa-solid  fa-flask"
                            class="external-login-button"
                            [disabled]="submit()"
                            (click)="onTryDemo()"
                        />
                    </div>
                }
            </div>
        </footer>
    </article>
</div>