:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

article {
  background-color: var(--surface-1);
  border-radius: .75rem;
  border: 1px solid var(--surface-border);
}

.divider {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  div {
    border-color: var(--surface-border);
  }
}
.divider-label {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: .875rem;
  color: var(--text-secondary);
  font-weight: 300;
  span {
    background-color: var(--surface-1);
  }
}