    <div class="grid">
        <!-- Login Form -->
        <div id="form-container" class="col-12 bg-main-purple p-7 flex flex-column justify-content-center md:col-6">
            <!-- Label -->
            <h1 class="text-5xl text-main-black text-center font-bold mb-8 md:mb-5">Welcome <span class="text-main-black">Back.</span></h1>

            <img id="books-img" *ngIf="!showLoginForm" class="mb-8 md:mb-5" src="/work.svg" alt="space man"/>

            <!-- Sign in Button -->
            <div *ngIf="!showLoginForm" class="w-full mb-3 mx-auto">
                <shared-general-button
                    type="primary"
                    label="Sign in"
                    (click)="onSignIn()"
                ></shared-general-button>
            </div>

            <!-- Login form -->
            <form
                *ngIf="showLoginForm"
                [formGroup]="form"
                (submit)="onLogin()"
                autocomplete="off"
            >
                <div class="flex flex-column mx-auto mb-3">
                    <div class="field">
                        <!-- Email -->
                        <label for="email" class="text-lg text-main-black mb-2">Email</label>
                        <input 
                            id="email"
                            pInputText
                            formControlName="email"
                            type="text"
                            placeholder="Email address"
                            class="w-full"
                            autocomplete="off"
                        >
                        <shared-error-field
                            *ngIf="isInvalidField('email')"
                            [validationField]="getValidationField('email', 'masc')">
                        </shared-error-field>
                    </div>
                    <div class="field mb-5">
                        <!-- Password -->
                        <label for="password" class="text-lg text-main-black mb-2">Password</label>
                        <p-password
                            inputId="password"
                            formControlName="password"
                            placeholder="Password"
                            styleClass="w-full"
                            inputStyleClass="w-full"
                            autocomplete="off "
                            [toggleMask]="true"
                            [feedback]="false"
                        >
                        </p-password>
                        <shared-error-field
                            *ngIf="isInvalidField('password')"
                            [validationField]="getValidationField('password', 'masc')">
                        </shared-error-field>
                    </div>
                    <!-- Login submit -->
                    <div>
                        <shared-general-button
                            type="primary"
                            label="Login"
                            [disabled]="submit"
                            [submit]="true"
                        ></shared-general-button>
                    </div>
                </div>
            </form>

             <!-- Google Button -->
            <div class="w-full mx-auto">
                <shared-general-button
                    type="terceary"
                    label="Sign in with google"
                    icon="fa-brands fa-google"
                    [disabled]="submit"
                    (click)="onGoogleLogin()"
                ></shared-general-button>
            </div>
        </div>

        <!-- Auth Cards -->
        <div class="col-12 p-0 display flex flex-column md:col-6 md:gap-4 md:pl-3">
            <div class="card bg-main-orange">
                <!-- Question label -->
                    <p class="text-main-black text-4xl m-0 z-1">Did you find something <span class="font-bold text-5xl">interesting?</span></p>
                <!-- Typing animation -->
                <div class="text-3xl">
                    <span class="animated-text text-white text-4xl border-0">{{ mediaTypes[mediaCounter] }}</span>
                </div>
                <!-- Searching icon -->
                <i id="search-icon-white" class="absolute fa-solid fa-magnifying-glass text-main-black text-8xl"></i>
                <i id="search-icon-black" class="absolute fa-solid fa-magnifying-glass text-main-black text-8xl"></i>
            </div>
            <div class="card brand md:border-1">
                <div class="flex align-items-center justify-content-center">
                    <p class="m-0 mr-3">Mark it</p>
                    <lord-icon trigger="in" src="/animated-icons/spinner-horizontal-dashed-circle.json" colors="primary:#f5f378" style="height: 4rem; width: 4rem;"></lord-icon>
                </div>
            </div>
        </div>
    </div>
    
