<div id="auth-background-container">
    <!-- Background gradient -->
    <div class="bg-gradient"></div>
    <!-- Geometric shapes -->
    <div class="shape top-15 right-10 w-6rem h-6rem rotate-45"></div>
    <div class="shape circle bottom-20 left-10 w-4rem h-4rem"></div>
    <div class="shape solid top-40 left-5 w-3rem h-3rem rotate-12"></div>
    <div class="shape triangle-md top-25 left-25"></div>
    <div class="shape triangle-sm bottom-30 right-15 rotate-180"></div>
    <div class="shape top-60 right-25 w-5rem h-5rem -rotate-12"></div>
    <div class="shape top-10 left-20 w-4rem h-4rem rotate-12"></div>
    <div class="shape bottom-15 right-5 w-4rem h-2rem rotate-45"></div>
    <div class="shape circle top-50 right-8 w-3rem h-3rem"></div>
    <div class="shape circle bottom-40 left-15 w-5rem h-5rem"></div>
    <div class="shape solid circle top-30 right-30 w-2rem h-2rem"></div>
    <div class="shape bottom-10 right-20 w-3rem h-3rem rotate-45"></div>
    <!-- Container -->
    <div id="auth-content-container">
        <router-outlet />
    </div>
    <footer class="py-3 text-center font-light text-xs text-muted z-1">
        Created with 💜 by <a class="font-medium" href="https://www.jomacode.com" target="_blank" aria-label="Go to jomacode site">jomacode</a>
    </footer>
</div>