<div class="magicpattern flex align-items-center justify-content-center px-4 sm:px-0 bg-retropurple min-h-screen sm:overflow-hidden">
    <div class="relative w-full sm:w-9 xl:w-6">
        <!-- Containter -->
        <div class="auth-container shadow-6 overflow-auto" style="height: 500px;">
            <router-outlet />
        </div>
        <!-- Spaceman image -->
        <div id="spaceman" class="absolute hidden md:block -right-20 -bottom-28">
            <img width="300" height="300" src="/spaceman.png" alt="space man"/>
        </div>
    </div>
</div>