<div class="magicpattern flex items-center justify-center px-4 sm:px-0 bg-retropurple-100 min-h-screen sm:overflow-hidden">
    <div class="relative w-full sm:w-3/4 lg:w-1/2">
        <!-- Containter -->
        <div class="auth-container shadow-xl overflow-auto" style="height: 500px;">
            <router-outlet />
        </div>
        <!-- Spaceman image -->
        <div class="absolute hidden md:block -right-20 -bottom-28">
            <img width="300" height="300" src="/spaceman.png" alt="space man"/>
        </div>
    </div>
</div>